{% extends 'base_adm.html' %}
{% load staticfiles %}
<body>
{% block content %}
  <style>
    .u-name {
      font-size: 20px;
      padding-left: 35%;
      padding-top: 10px;
    }
    .nome{
      font-size: 50px;
      padding-left: 25%;
    }
    .curriculo{
      padding-left: 3%;
    }
    .pro-pic{
      padding-left: 37%;
      margin-bottom: 50px;
    }
  </style>
          <div class="">
    
              <div class="card">
                <div class="card-body">
                  <div class="align-items-center mb-4">
                    <h6 class="card-title mb-0 nome" >Dados de {{eletricista.nome}}</h6>
                  </div>
                  <div class="new-accounts">
                    <ul class="chats">
                      <!-- LISTA DOS QUESTIONARIOS -->
                        <li class="chat-persons">
                          
                            {% if eletricista.foto %}
                              <span class="pro-pic"><img style="height: 120px; width: 120px; border-radius: 90px;" src="{{eletricista.foto.url}}"></span>
                            {% else %}
                              <span class="pro-pic"><img src="https://placehold.it/100x100" style="height: 120px; width: 120px; border-radius: 90px;""></span>
                            {% endif %}
                            <div class="user">
                              <p class="u-name"><strong>Nome:</strong>   {{eletricista.nome}}</p>
                              <p class="u-name"><strong>Nickname:</strong>   {{eletricista.nickname}}</p>
                              <p class="u-name"><strong>Email:</strong>  {{eletricista.email}}</p>
                              <p class="u-name"><strong>Telefone:</strong>   {{eletricista.telefone}}</p>
                              <p class="u-name"><strong>CPF:</strong>   {{eletricista.CPF}}</p>
                              <p class="u-name"><strong>CEP:</strong>   {{eletricista.CEP}}</p>
                              <p class="u-name"><strong>Enredeço:</strong>   {{eletricista.endereco}}</p>
                              <p class="u-name"><strong>Genero:</strong>   {{eletricista.genero}}</p>
                              <p class="u-name"><strong>Pontuacao:</strong>  {{questionario.pontuacao}}</p>
                              <p class="u-name"><strong>Curriculo:</strong><a href="/media/{{curriculo}}/"> {{questionario.pdf.name}}</a></p>
                              <a href="/user/adm/aceitar/{{eletricista.nickname}}"><button class="btn-success" method="post">Aceitar</button></a>
                              <a href="/user/adm/recusar/{{eletricista.nickname}}"><button class="btn-danger" method="post">Recusar</button></a>
                            </div>
                        </li>
                      
                      <!-- list person -->
                      <!-- FIM DA LISTA DOS QUESTIONARIOS -->
                    </ul>
                  </div>
                </div>
              </div>
            </div>
{% endblock %}
</body>
