{% extends 'base_adm.html' %}
{% load staticfiles %}
<body>
{% block content %}
      <!-- partial -->
      <!-- .table.table-borderless td{
          font-size:130%;
        }
        .main-panel{
          width:100%;
        }
      -->
      <style>
        .table.table-borderless td{
          font-size:130%;
        }
        div{
          width:100%;
        }
      </style>
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="profile-page">
            <div class="">
              <div class="card" >
                <div class="card-body">
                  <div class="profile-body" style="padding-top: 0px">
                    <ul class="nav tab-switch" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="user-profile-info-tab" data-toggle="pill" href="#user-profile-info" role="tab" aria-controls="user-profile-info" aria-selected="true">Perfil</a>
                      </li>
                      {% if eletricista.status == 'Ativo' %}
                        <li class="nav-item">
                          <a class="nav-link" id="user-profile-activity-tab" data-toggle="pill" href="#user-profile-activity" role="tab" aria-controls="user-profile-activity" aria-selected="false">Atividade</a>
                        </li>
                      {% endif %}
                    </ul>
                    <div class="row">
                        <div class="tab-content tab-body" id="profile-log-switch">
                          <div class="tab-pane fade show active pr-3" id="user-profile-info" role="tabpanel" aria-labelledby="user-profile-info-tab" style="display:inline-block;width:100%">
                            {% if eletricista.foto %}
                              <img src="{{eletricista.foto.url}}"  alt="profile image" style="border-radius: 100%; width: 100px; height: 100px">
                            {% else %}
                              <img src="https://placehold.it/100x100" style="border-radius: 100%; width: 100px; height: 100px">
                            {% endif %}
                            <table class="table table-borderless mt-4 info-perfil" >
                              <tr>
                                <td><strong>Nome :</strong> {{eletricista.usuario.first_name}}</td>
                                <td><strong>CPF :</strong> {{eletricista.CPF}}</td>
                                <td><strong>Currículo :</strong> <a href="/media/{{curriculo}}/"> {{questionario.pdf.name}}</a></td>
                              </tr>
                              <tr>
                                <td><strong>CEP :</strong> {{eletricista.CEP}}</td>
                                <td><strong>Endereço :</strong> {{eletricista.endereco}}</td>
                              </tr>
                              <tr>
                                <td><strong>Telefone :</strong> {{eletricista.telefone}}</td>
                                <td><strong>Email :</strong> {{eletricista.usuario.email}}</td>
                              </tr>
                              <tr>
                                <td><strong>Pontuação :</strong> {{questionario.pontuacao}}</td>
                                <td><strong>Género :</strong> {{eletricista.genero}}</td>
                              </tr>
                            </table>
                          </div>
                            <div class="row">
                              <div class="col-12 mt-5">
                                <h5 class="mb-5">Currículo</h5>
                                  <embed src="/media/{{curriculo}}/" width=100% height="700" type='application/pdf'>
                              </div>
                            </div>
                          <div class="tab-pane fade" id="user-profile-activity" role="tabpanel" aria-labelledby="user-profile-activity-tab">
                            <div class="horizontal-timeline">
                              <section class="time-frame">
                                <h4 class="section-time-frame">Today</h4>
                                <div class="event">
                                  <p class="event-text">We’re big on real names around here, so people know who’s who</p>
                                  <div class="event-alert">You have added task #26 Successfully to the project “Agile CRM”</div>
                                  <div class="event-info">New Dashboard Design - 9:24 PM</div>
                                </div>
                                <div class="event">
                                  <p class="event-text">Admin is a full featured, multipurpose, premium bootstrap admin template built with Bootstrap 4 Framework</p>
                                  <div class="tumbnail-views">
                                    <div class="thumbnail"><img src="https://placehold.it/100x90" alt="thumbnail"></div>
                                    <div class="thumbnail"><img src="https://placehold.it/100x90" alt="thumbnail"></div>
                                    <div class="thumbnail"><img src="https://placehold.it/100x90" alt="thumbnail"></div>
                                    <div class="thumbnail"><img src="https://placehold.it/100x90" alt="thumbnail"></div>
                                    <div class="thumbnail"><img src="https://placehold.it/100x90" alt="thumbnail"></div>
                                    <div class="thumbnail"><img src="https://placehold.it/100x90" alt="thumbnail"></div>
                                  </div>
                                  <div class="event-info">New Dashboard Design - 9:24 PM</div>
                                </div>
                                <div class="event">
                                  <p class="event-text">It is a fully responsive bootstrap admin template / bootstrap admin dashboard</p>
                                  <div class="event-alert">You have added task #26 Successfully to the project “Agile CRM”</div>
                                  <div class="event-info">New Dashboard Design - 9:24 PM</div>
                                </div>
                              </section>
                              <section class="time-frame">
                                <h4 class="section-time-frame">Yesterday</h4>
                                <div class="event">
                                  <p class="event-text">Night fill together itself. Midst. Beginning. Behold living god had.</p>
                                  <div class="event-alert">You have added task #26 Successfully to the project “Agile CRM”</div>
                                  <div class="event-info">New Dashboard Design - 11:24 PM</div>
                                </div>
                                <div class="event">
                                  <p class="event-text">Why waste time starting from scratch; try out our admin dashboard template</p>
                                  <div class="event-info">New Dashboard Design - 11:30 PM</div>
                                </div>
                              </section>
                              <section class="time-frame">
                                <h4 class="section-time-frame">30 March</h4>
                                <div class="event">
                                  <p class="event-text">Gerald Vaughn changed the status to QA on MA-86 - Retargeting Ads</p>
                                  <div class="tumbnail-views">
                                    <div class="thumbnail"><img src="https://placehold.it/100x90" alt="thumbnail"></div>
                                    <div class="thumbnail"><img src="https://placehold.it/100x90" alt="thumbnail"></div>
                                    <div class="thumbnail"><img src="https://placehold.it/100x90" alt="thumbnail"></div>
                                    <div class="thumbnail"><img src="https://placehold.it/100x90" alt="thumbnail"></div>
                                    <div class="thumbnail"><img src="https://placehold.it/100x90" alt="thumbnail"></div>
                                    <div class="thumbnail"><img src="https://placehold.it/100x90" alt="thumbnail"></div>
                                  </div>
                                  <div class="event-alert">You have added task #26 Successfully to the project “Agile CRM”</div>
                                  <div class="event-info">New Dashboard Design - 11:45 PM</div>
                                </div>
                              </section>
                            </div>
                          </div>
                          <div class="row">
                            {% if eletricista.status == 'Inativo' %}
                              <div class="col-lg-12 mt-5" style="text-align: center">
                                <a href="/user/adm/aceitar/{{eletricista.usuario.username}}"><button type="button" id="2" class="btn btn-success btn-lg float-sm-left botao-aceitar">Aceitar Eletricista</button></a>
                                <a href="/user/adm/recusar/{{eletricista.usuario.username}}/"><button  type="button" id="1" class="btn btn-danger btn-lg float-sm-right botao-recusar">Recusar Eletricista</button></a>
                              </div>
                            {% else %}
                              {% if eletricista.bloqueado != 'True' %}
                              <div class="col-lg-12 mt-5" style="text-align: center">
                                <a  href="/user/adm/bloquear_eletricista/{{eletricista.usuario.username}}/"><button type="button" class="btn btn-danger btn-lg botao-bloqueio">Bloquear Eletricista</button></a>
                              </div>
                              {% else %}
                              <div class="col-lg-12 mt-5" style="text-align: center">
                                <a  href="/user/adm/desbloquear_eletricista/{{eletricista.usuario.username}}/"><button type="button" class="btn btn-success btn-lg botao-bloqueio">Desbloquear Eletricista</button></a>
                              </div>
                              {% endif %}
                            {% endif %}
                          </div>
                        </div>  
                            
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  {% endblock %}
</body>
