{% extends 'base_adm.html' %}
{% load staticfiles %}
<body>
{% block content %}
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
              <div class="card card-statistics">
                <div class="card-body">
                  <div class="d-flex align-items-center justify-content-center">
                    <div class="highlight-icon bg-light mr-3">
                      <i class="mdi mdi-cube text-success icon-lg"></i>
                    </div>
                    <div class="wrapper">
                      <p class="card-text mb-0">Receita</p>
                      <div class="fluid-container">
                        <h3 class="card-title mb-0">$65,650</h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
              <div class="card card-statistics">
                <div class="card-body">
                  <div class="d-flex align-items-center justify-content-center">
                    <div class="highlight-icon bg-light mr-3">
                      <i class="mdi mdi-briefcase-check text-primary icon-lg"></i>
                    </div>
                    <div class="wrapper">
                      <p class="card-text mb-0">Serviços</p>
                      <div class="fluid-container">
                        <h3 class="card-title mb-0">$45,650</h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
              <div class="card card-statistics">
                <div class="card-body">
                  <div class="d-flex align-items-center justify-content-center">
                    <div class="highlight-icon bg-light mr-3">
                      <i class="mdi mdi-account-multiple text-danger icon-lg"></i>
                    </div>
                    <div class="wrapper">
                      <p class="card-text mb-0">Retorno</p>
                      <div class="fluid-container">
                        <h3 class="card-title mb-0">$12,357</h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
              <div class="card card-statistics">
                <div class="card-body">
                  <div class="d-flex align-items-center justify-content-center">
                    <div class="highlight-icon bg-light mr-3">
                      <i class="mdi mdi-airballoon text-info icon-lg"></i>
                    </div>
                    <div class="wrapper">
                      <p class="card-text mb-0">Vendas</p>
                      <div class="fluid-container">
                        <h3 class="card-title mb-0">$45,650</h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- INSERIR TABELA AQUI -->
            </div>
          <div class="col-md-4 grid-margin stretch-card">
              <!-- INSERIR TABELA AQUI -->
          </div>
          <div class="row">
          <!-- INSERIR TABELA AQUI -->
            
          </div>
          <div class="">
            <div class="col-md-10 stretch-card">
              <div class="card">
                  <!-- INSERIR TTABELA AQUI -->
                  </div>
                </div>
              </div>
            </div>
          <div class="col-md-7 grid-margin stretch-card" style="margin-left: 40%; ">
            <form class="form-signin" actions="{% url 'registrar' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Digite seu nome" id="id_nome" name="nome" required>
                    <div class="input-group-append">
                      <span class="input-group-text"><i class="mdi mdi-check-circle-outline"></i></span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Digite seu nome de usuario" id="id_nickname" name="nickname" required>
                    <div class="input-group-append">
                      <span class="input-group-text"><i class="mdi mdi-check-circle-outline"></i></span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <input type="password" class="form-control" placeholder="Digite sua senha" id="id_senha" name="senha" required>
                    <div class="input-group-append">
                      <span class="input-group-text"><i class="mdi mdi-check-circle-outline"></i></span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <input type="password" class="form-control" placeholder="Digite sua senha novamente" id="id_senha_novamente" name="senha_novamente" required>
                    <div class="input-group-append">
                      <span class="input-group-text"><i class="mdi mdi-check-circle-outline"></i></span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Digite seu e-mail" id="id_email" name="email" required>
                    <div class="input-group-append">
                      <span class="input-group-text"><i class="mdi mdi-check-circle-outline"></i></span>
                    </div>
                  </div>
                </div>
                {% if form.errors %}
                  <div class ="alert alert-danger">
                    <button type="button" class="close">&times;</button>
                    {{form.non_field_errors}}
                    <ul>
                      {% for field in form %}
                        {% if field.errors %}
                          {% if field.label == 'Email' %}
                            <li>{{ field.label }}: Digite um e-mail válido</li>
                          {% endif %}
                          {% if field.label == 'Telefone' %}
                            <li>{{ field.label }}: Digite um telefone válido</li>
                          {% endif %}
                          {% if field.label == 'Cep' %}
                            <li>{{ field.label }}: Digite um CEP válido</li>
                          {% endif %}
                          {% if field.label == 'Cpf' %}
                            <li>{{ field.label }}: Digite um CPF válido</li>
                          {% endif %}
                          {% if field.label == 'Endereco' %}
                            <li>{{ field.label }}: Digite um endereço válido</li>
                          {% endif %}
                          {% if field.label == 'Genero' %}
                            <li>{{ field.label }}: Escolha um genero válido</li>
                          {% endif %}
                        {% endif %}
                      {% endfor %}
                    </ul>
                  </div>
                {% endif %}

                <div class="form-group">
                  <button class="btn btn-success submit-btn btn-block">Cadastrar</button>
                </div>
                <div class="text-block text-center my-3">
              </form>                
          </div>
          <div class="row">
            <!-- INSERIR TTABELA AQUI -->
          </div>
          <div class="row">
            <!-- INSERIR TTABELA AQUI -->
          </div>
          <div class="row">
            <!-- INSERIR TTABELA AQUI -->
          </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
{% endblock %}
</body>