aioredis==1.1.0
amqp==2.3.2
asgiref==2.3.2
async-timeout==3.0.0
attrs==18.1.0
autobahn==18.8.1
Automat==0.7.0
billiard==3.5.0.4
celery==4.2.1
certifi==2018.4.16
channels==2.1.3
channels-redis==2.3.0
chardet==3.0.4
constantly==15.1.0
daphne==2.2.2
dj-database-url==0.5.0
Django==2.0.7
django-cors-headers==2.4.0
django-heroku==0.3.1
django-rest-framework==0.1.0
djangorestframework==3.8.2
djangorestframework-jwt==1.11.0
docker==3.5.0
docker-pycreds==0.3.0
gunicorn==19.9.0
hiredis==0.2.0
hyperlink==18.0.0
idna==2.5
incremental==17.5.0
kombu==4.2.1
msgpack==0.5.6
pagarme-python==3.1.0
pipenv==2018.6.25
psycopg2==2.7.5
PyHamcrest==1.9.0
PyJWT==1.6.4
pytz==2018.5
redis==2.10.6
requests==2.18.2
six==1.11.0
Twisted==18.7.0
txaio==18.7.1
urllib3==1.22
vine==1.1.4
virtualenv==16.0.0
virtualenv-clone==0.3.0
websocket-client==0.51.0
whitenoise==4.1
zope.interface==4.5.0
