<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <div class="nav-link">
        <div class="profile-image"> <img src="assets/images/faces/face1.jpg" alt="image"/> <span class="online-status online"></span> </div>
        <div class="profile-name">
          <p class="name">Sebastian Brayden</p>
          <p class="designation">UI/UX Designer</p>
        </div>
        <div class="notification-panel mt-4">
          <span><i class="mdi mdi-settings"></i></span>
          <span class="count-wrapper"><i class="mdi mdi-bell"></i><span class="count top-right bg-warning">4</span></span>
          <span><i class="mdi mdi-email"></i></span>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
        <img class="menu-icon" src="assets/images/menu_icons/01.png" alt="menu icon">
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/forms" routerLinkActive="active">
        <img class="menu-icon" src="assets/images/menu_icons/02.png" alt="menu icon">
        <span class="menu-title">Form Elements</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/buttons" routerLinkActive="active">
        <img class="menu-icon" src="assets/images/menu_icons/09.png" alt="menu icon">
        <span class="menu-title">Buttons</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/progressbar" routerLinkActive="active">
        <img class="menu-icon" src="assets/images/menu_icons/08.png" alt="menu icon">
        <span class="menu-title">Progress bar</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/carousel" routerLinkActive="active">
        <img class="menu-icon" src="assets/images/menu_icons/04.png" alt="menu icon">
        <span class="menu-title">Carousel</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/tooltips" routerLinkActive="active">
        <img class="menu-icon" src="assets/images/menu_icons/17.png" alt="menu icon">
        <span class="menu-title">Tooltip</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/tabs" routerLinkActive="active">
        <img class="menu-icon" src="assets/images/menu_icons/07.png" alt="menu icon">
        <span class="menu-title">Tab</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dropdowns" routerLinkActive="active">
        <img class="menu-icon" src="assets/images/menu_icons/19.png" alt="menu icon">
        <span class="menu-title">Dropdown</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/breadcrumbs" routerLinkActive="active">
        <img class="menu-icon" src="assets/images/menu_icons/18.png" alt="menu icon">
        <span class="menu-title">Breadcrumb</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/pagination" routerLinkActive="active">
        <img class="menu-icon" src="assets/images/menu_icons/03.png" alt="menu icon">
        <span class="menu-title">Pagination</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/tables" routerLinkActive="active">
        <img class="menu-icon" src="assets/images/menu_icons/06.png" alt="menu icon">
        <span class="menu-title">Table</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/datePicker" routerLinkActive="active">
        <img class="menu-icon" src="assets/images/menu_icons/20.png" alt="menu icon">
        <span class="menu-title">Date Picker</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/alerts" routerLinkActive="active">
        <img class="menu-icon" src="assets/images/menu_icons/13.png" alt="menu icon">
        <span class="menu-title">Alerts</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/accordions" routerLinkActive="active">
        <img class="menu-icon" src="assets/images/menu_icons/10.png" alt="menu icon">
        <span class="menu-title">Accordion</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/badges" routerLinkActive="active">
        <img class="menu-icon" src="assets/images/menu_icons/12.png" alt="menu icon">
        <span class="menu-title">Badge</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/icons" routerLinkActive="active">
        <img class="menu-icon" src="assets/images/menu_icons/01.png" alt="menu icon">
        <span class="menu-title">Icons</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/typography" routerLinkActive="active">
        <img class="menu-icon" src="assets/images/menu_icons/15.png" alt="menu icon">
        <span class="menu-title">Typography</span>
      </a>
    </li>
    <li class="nav-item">
      <div class="sidebar-sticker">
        <div class="d-flex align-items-center text-primary">
          <h6 class="mb-1">Need Help</h6><i class="mdi ml-2 mdi-bell-ring-outline"></i>
        </div>
        <a class="d-block text-gray my-2" href="#">hello@website.com</a>
        <a class="d-block" href="#">Visit FAQ</a>
      </div>
    </li>
  </ul>
</nav>
