@import '../../../styles';
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}

.custom-day.focused {
  background-color: $content-bg;
}

.custom-day.range,
.custom-day:hover {
  background-color: theme-color(primary);
  color: $white;
}

.custom-day.faded {
  background-color: theme-color(primary);
}