{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Eletricista24hrs</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'radiant/jquery/vendors/iconfonts/mdi/css/materialdesignicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'radiant/jquery/vendors/iconfonts/puse-icons-feather/feather.css' %}">
  <link rel="stylesheet" href="{% static 'radiant/jquery/vendors/css/vendor.bundle.base.css' %}">
  <link rel="stylesheet" href="{% static 'radiant/jquery/vendors/css/vendor.bundle.addons.css' %}">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'radiant/jquery/css/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'radiant/jquery/images/logo-personagem.png' %}" />
</head>
<body>

  {% block content %}
  {% endblock %}

  <script src="{% static 'radiant/jquery/vendors/js/vendor.bundle.base.js' %}"></script>
  <script src="{% static 'radiant/jquery/vendors/js/vendor.bundle.addons.js' %}"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src="{% static 'radiant/jquery/js/off-canvas.js' %}"></script>
  <script src="{% static 'radiant/jquery/js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'radiant/jquery/js/misc.js' %}"></script>
  <script src="{% static 'radiant/jquery/js/settings.js' %}"></script>
  <script src="{% static 'radiant/jquery/js/todolist.js' %}"></script>
  <script src="{% static 'radiant/jquery/js/file-upload.js' %}"></script>
</body>
</html>