{% extends "base_adm.html" %}
	{% block content %}
		<h1>Trocar senha</h1>
		{% if messages %}
		<div class="alert alert-warning"> 
			{% for message in messages %}
				{{ message }}
			{% endfor %}
		</div>
		{% endif %}
		<form class="" action="" method="post">
		{% csrf_token %}
		<div class="form-group">
			<label for="{{ form.old_password.id_for_label}}">Senha antiga</label>
			{{ form.old_password }}
		</div>
		<div class="form-group">
			<label for="{{ form.new_password1.id_for_label}}">Nova senha</label>
			{{ form.new_password1 }}
		</div>
		<div class="form-group">
			<label for="{{ form.new_password2.id_for_label}}">Confirmar nova senha</label>
			{{ form.new_password2 }}
		</div>
		<button type="submit" class="btn btn-primary">Alterar</button>
		</form>
	{% endblock %}