{% extends 'base_adm.html' %}
{% load staticfiles %}
<body>
{% block content %}
  <style>
    .col-md-10 {
      padding-left: 15%;
    }
  </style>
          <div class="">
            <div class="col-md-10 stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex align-items-center justify-content-between mb-4">
                    <h5 class="card-title mb-0">Clientes Registrados</h5>
                  </div>
                  <div class="portlet-body">
                    <form class="search-form" action="{% url 'BuscaCliente' %}" role="search">
                      <div class="input-group">
                        <input id="search" onkeyup="myFunction()" onkeydown="myStopFunction()" type="text" class="form-control" placeholder="Buscar" name="buscaCliente">
                          <span class="input-group-btn">
                        <!-- Essa tag aqui passar para uma views do Search no python -->
                            <button type="submit" id = "submit" value="Click" class="btn btn-light"><span class="mdi mdi-magnify" ></span></button>
                          </span>
                      </div>
                    </form>
                  </div>
                  <div class="new-accounts" id="clientes" style="display: block">
                    <ul class="chats">
                      <!-- LISTA DOS QUESTIONARIOS -->
                      {% for cliente in clientes_registrados %}
                        
                        <li class="chat-persons">
                          <a href="/user/adm/perfil_cliente/{{cliente.usuario.username}}/">
                            {% if cliente.foto %}
                              <span class="pro-pic"><img src="{{cliente.foto.url}}"></span>
                            {% else %}
                              <span class="pro-pic"><img src="https://placehold.it/100x100"></span>
                            {% endif %}
                            <div class="user">
                              <p class="u-name">{{cliente.usuario.first_name}}</p>
                              <p class="u-designation" style="font-size: 15px">Email: <strong>{{cliente.usuario.email}}</strong></p>
                            </div>
                          </a>
                        </li>
                      {% endfor %}
                      <!-- list person -->
                      <!-- FIM DA LISTA DOS QUESTIONARIOS -->
                    </ul>
                  </div>
                  <div class="new-accounts" id="div" style="display: none">
                    <ul class="chats" id="ul">
                </div>
              </div>
            </div>
        
</body>
<script type="text/javascript">
  var lista_nicknames = [];
  var lista_email = [];
  var lista_foto_url = [];
  var lista = {{clientes_js|safe}}
  {% for i in clientes_registrados %}
    lista_nicknames.push('{{i.usuario.username}}');
    lista_email.push('{{i.usuario.email}}');
    {% if i.foto %}
      lista_foto_url.push('{{i.foto.url}}');
    {% else %}
      lista_foto_url.push('https://placehold.it/100x100');
    {% endif %}
  {% endfor %}
  console.log(lista_foto_url);
  function js_search() {
    
    deletar('antiga');
    var input = document.getElementById('search');
    var div_para_aparecer = document.getElementById('div');
    var div_para_sumir = document.getElementById('clientes');
    var resultados = 0;
    var index = [];
    for (var i = 0; i < lista.length; i++){
      if (lista[i].toLowerCase().indexOf(input.value.toLowerCase()) > -1 || lista_email[i].indexOf(input.value) > -1){

        div_para_aparecer.style.display = 'block';
        div_para_sumir.style.display = 'none';
        resultados += 1;
        index.push(i);
      }
      if (input.value == ''){
        div_para_aparecer.style.display = 'none';
        div_para_sumir.style.display = 'block';
      }
    }
    for (var t = 0; t < index.length; t++){
      criar(index[t]);
    }
  }
  var myVar;

  function myFunction() {
    myStopFunction(myVar);
    myVar = setTimeout(js_search, 25);
  }

  function myStopFunction(x) {
    clearTimeout(x);
  }

  function deletar(className){
    var elements = document.getElementsByClassName(className);
    while(elements.length > 0){
        elements[0].parentNode.removeChild(elements[0]);
    }
}


  function criar(i){

    var li = document.createElement('li');
    li.className = 'chat-persons antiga';
    li.id = 'antiga';
    var a = document.createElement('a');
    a.href = '/user/adm/perfil_cliente/' + lista_nicknames[i] + '/';
    li.appendChild(a);
    var span = document.createElement('span');
    span.className = 'pro-pic';
    var img = document.createElement('img');
    img.src = lista_foto_url[i];
    console.log(li);
    span.appendChild(img);
    a.appendChild(span);

    var div = document.createElement('div');
    div.className = 'user';
    var p1 = document.createElement('p');
    p1.className = 'u-name';
    p1.textContent = lista[i];
    div.appendChild(p1);

    var p2 = document.createElement('p');
    p2.className = 'u-designation';
    p2.style.fontSize = '15px';
    var strong = document.createElement('strong');
    strong.textContent = lista_email[i];
    p2.appendChild(strong);
    p2.textContent = 'Email: ';
    p2.appendChild(strong);
    div.appendChild(p2);

    a.appendChild(div);

    li.appendChild(a);
    var ul = document.getElementById('ul');
    ul.appendChild(li);
  }
</script>
{% endblock %}
