{% extends 'base_adm.html' %}
{% load staticfiles %}
<body>
{% block content %}
  <style>
    .col-md-10 {
      padding-left: 15%;
    }
  </style>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
              <div class="card card-statistics">
                <div class="card-body">
                  <div class="d-flex align-items-center justify-content-center">
                    <div class="highlight-icon bg-light mr-3">
                      <i class="mdi mdi-cube text-success icon-lg"></i>
                    </div>
                    <div class="wrapper">
                      <p class="card-text mb-0">Receita</p>
                      <div class="fluid-container">
                        <h3 class="card-title mb-0">$65,650</h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
              <div class="card card-statistics">
                <div class="card-body">
                  <div class="d-flex align-items-center justify-content-center">
                    <div class="highlight-icon bg-light mr-3">
                      <i class="mdi mdi-briefcase-check text-primary icon-lg"></i>
                    </div>
                    <div class="wrapper">
                      <p class="card-text mb-0">Serviços</p>
                      <div class="fluid-container">
                        <h3 class="card-title mb-0">$45,650</h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
              <div class="card card-statistics">
                <div class="card-body">
                  <div class="d-flex align-items-center justify-content-center">
                    <div class="highlight-icon bg-light mr-3">
                      <i class="mdi mdi-account-multiple text-danger icon-lg"></i>
                    </div>
                    <div class="wrapper">
                      <p class="card-text mb-0">Retorno</p>
                      <div class="fluid-container">
                        <h3 class="card-title mb-0">$12,357</h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
              <div class="card card-statistics">
                <div class="card-body">
                  <div class="d-flex align-items-center justify-content-center">
                    <div class="highlight-icon bg-light mr-3">
                      <i class="mdi mdi-airballoon text-info icon-lg"></i>
                    </div>
                    <div class="wrapper">
                      <p class="card-text mb-0">Vendas</p>
                      <div class="fluid-container">
                        <h3 class="card-title mb-0">$45,650</h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <div class="row">
              </div>
            <div class="col-md-4 grid-margin stretch-card">
                <!-- INSERIR TABELA AQUI -->
                <form action="{% url 'mudar_valor_por_hora' %}">
                  {% csrf_token %}
                  <input type="text" name="meia_hora">
                  <input type="text" name="primeira_hora">
                  <input type="text" name="demais_horas">
                  <button type="submit">Alterar</button>
                </form>
            </div>
            <div class="row">
            <!-- INSERIR TABELA AQUI -->
              
            </div>
{% endblock %}
</body>
