{% extends 'base_adm.html' %}
{% load staticfiles %}
<body>
{% block content %}
  <style>
    .col-md-10 {
      padding-left: 15%;
    }
  </style>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
        <a class=""></a>
        <a class=""></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="mdi mdi-menu"></span>
        </button>
        
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item dropdown">
            <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
              <i class="mdi mdi-bell-outline"></i>
              <span class="count bg-success">10</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
              <a class="dropdown-item py-3">
                <p class="mb-0 font-weight-medium float-left">You have 4 new notifications
                </p>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-inverse-success">
                    <i class="mdi mdi-alert-circle-outline mx-0"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject font-weight-normal text-dark mb-1">Application Error</h6>
                  <p class="font-weight-light small-text mb-0">
                    Just now
                  </p>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-inverse-warning">
                    <i class="mdi mdi-comment-text-outline mx-0"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject font-weight-normal text-dark mb-1">Settings</h6>
                  <p class="font-weight-light small-text mb-0">
                    Private message
                  </p>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-inverse-info">
                    <i class="mdi mdi-email-outline mx-0"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject font-weight-normal text-dark mb-1">New user registration</h6>
                  <p class="font-weight-light small-text mb-0">
                    2 days ago
                  </p>
                </div>
              </a>
            </div>
          </li>
          
          <li class="nav-item dropdown d-none d-xl-inline-block">
            <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
              <span class="mr-3">Olá, Domingos</span><img class="img-xs rounded-circle" img src="{% static 'radiant/jquery/images/logo-personagem.png' %}" alt="Profile image">
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
              <a class="dropdown-item p-0">
                <div class="d-flex border-bottom">
                  <div class="py-3 px-4 d-flex align-items-center justify-content-center"><i class="mdi mdi-bookmark-plus-outline mr-0 text-gray"></i></div>
                  <div class="py-3 px-4 d-flex align-items-center justify-content-center border-left border-right"><i class="mdi mdi-account-outline mr-0 text-gray"></i></div>
                  <div class="py-3 px-4 d-flex align-items-center justify-content-center"><i class="mdi mdi-alarm-check mr-0 text-gray"></i></div>
                </div>
              </a>
              <a class="dropdown-item mt-2">
                Manage Accounts
              </a>
              <a class="dropdown-item">
                Change Password
              </a>
              <a class="dropdown-item">
                Check Inbox
              </a>
              <a class="dropdown-item">
                Sign Out
              </a>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item nav-profile">
            <div class="nav-link">
              <div class="profile-image"> <img src="{% static 'radiant/jquery/images/logo-personagem.png' %}" alt="image"/> <span class="online-status online"></span> </div>
              <div class="profile-name">
                <p class="name">José Domingos</p>
                <p class="designation">Empresário</p>
              </div>
              <div class="notification-panel mt-4">
                <span><i class="mdi mdi-settings"></i></span>
                <span class="count-wrapper"><i class="mdi mdi-bell"></i><span class="count top-right bg-warning">4</span></span>
                <span><i class="mdi mdi-email"></i></span>
              </div>
            </div>
          </li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'adm' %}"> <img class="menu-icon" src="{% static 'radiant/jquery/images/menu_icons/01.png' %}" alt="menu icon"> <span class="menu-title">Dashboard</span></a> </li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'questionarios_pendentes' %}"> <img class="menu-icon" src="{% static 'radiant/jquery/images/menu_icons/19.png' %}" alt="menu icon"> <span class="menu-title">Questionarios Pendentes</span> </a> </li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'eletricistas_registrados' %}"> <img class="menu-icon" src="{% static 'radiant/jquery/images/menu_icons/15.png' %}" alt="menu icon"> <span class="menu-title">Eletricistas Registrados</span> </a> </li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'clientes_registrados' %}"> <img class="menu-icon" src="{% static 'radiant/jquery/images/menu_icons/12.png' %}" alt="menu icon"> <span class="menu-title">Clientes Registrados</span> </a> </li>
          <li class="nav-item">
            <div class="sidebar-sticker">
              <div class="d-flex align-items-center text-primary">
                <h6 class="mb-1">PRECISA DE AJUDA?</h6><i class="mdi ml-2 mdi-bell-ring-outline"></i>
              </div>
              <a class="d-block text-gray my-2" href="#">olá@hotmail.com</a>
              <a class="d-block" href="#">Visite o nosso FAQ</a>
            </div>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
         
          <div class="row">
            
            
            </div>
          <div class="col-md-4 grid-margin stretch-card">
              
          </div>
          <div class="row">
            
          </div>
          <div class="">
            <div class="col-md-10 stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex align-items-center justify-content-between mb-4">
                    <h5 class="card-title mb-0">Eletricistas Registrados</h5>
                  </div>
                  <div class="portlet-body">
                    <form class="search-form" action="{% url 'BuscaEletricista' %}" role="search">
                      <div class="input-group" style="padding-bottom: 20px">
                        <input id="search" onkeyup="myFunction()" onkeydown="myStopFunction()" type="text" class="form-control" placeholder="Busca" name="buscaEletricista">
                          <span class="input-group-btn">
                        <!-- Essa tag aqui passar para uma views do Search no python -->
                            <button type="submit" id = "submit" value="Click" class="btn btn-light"><img src="{% static 'radiant/jquery/images/search.png' %}"></button>
                          </span>
                      </div>
                    </form>
                  </div>
                  <div class="new-accounts" id="eletricistas" style="display: block">
                    <ul class="chats">
                      <!-- LISTA DOS QUESTIONARIOS -->
                      {% for eletricista in eletricistas_registrados %}
                        
                        <li class="chat-persons">
                          <a href="/user/adm/perfil_eletricista/{{eletricista.nickname}}/">
                            {% if eletricista.foto %}
                              <span class="pro-pic"><img src="{{eletricista.foto.url}}"></span>
                            {% else %}
                              <span class="pro-pic"><img src="https://placehold.it/100x100"></span>
                            {% endif %}
                            <div class="user">
                              <p class="u-name">{{eletricista.nome}}</p>
                              <p class="u-designation" style="font-size: 15px">Email: <strong>{{eletricista.email}}</strong></p>
                            </div>
                            {% if eletricista.bloqueado == 'False' %}
                              <button type="button" style="margin-left: 95px; padding-left: 20px; padding-right: 18px;" disabled class="btn btn-success btn-sm float-sm-left">Ativo</button>
                            {% else %}
                              <button type="button" style="margin-left: 95px" disabled class="btn btn-danger btn-sm float-sm-left">Inativo</button>
                            {% endif %}
                          </a>
                        </li>
                      {% endfor %}
                      <!-- list person -->
                      <!-- FIM DA LISTA DOS QUESTIONARIOS -->
                    </ul>
                  </div>
                  <div class="new-accounts" id="div" style="display: none">
                    <ul class="chats" id="ul">
                      <!--
                      <li class="chat-persons">
                        <a id="link" href="#">

                          
                          <span class="pro-pic"><img id="foto" src="https://placehold.it/100x100"></span>
                        

                          <div class="user" id="">
                            <p class="u-name" id="nomejs"></p>
                            <p class="u-designation" style="font-size: 15px">Email: <strong id="email"></strong></p>
                          </div>
                          <!
                          {% if eletricista.bloqueado == 'False' %}
                            <button type="button" style="margin-left: 50px; padding-left: 37px; padding-right: 37px;" disabled class="btn btn-success btn-lg float-sm-left">Ativo</button>
                          {% else %}
                            <button type="button" style="margin-left: 50px" disabled class="btn btn-danger btn-lg float-sm-left">Inativo</button>
                          {% endif %}
                          -->

                        </a>
                      </li>
                </div>
              </div>
            </div>
          <div class="col-md-7 grid-margin stretch-card">
             
          </div>
          <div class="row">
            
          </div>
          <div class="row">
            
          </div>
          <div class="row">
            
          </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="container-fluid clearfix">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2018 <a href="http://www.urbanui.com/" target="_blank">Urbanui</a>. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->  
</body>
<script type="text/javascript">
  var lista_nicknames = [];
  var lista_email = [];
  var lista_foto_url = [];
  var lista = {{eletricistas_js|safe}}
  {% for i in eletricistas_registrados %}
    lista_nicknames.push('{{i.nickname}}');
    lista_email.push('{{i.email}}');
    {% if i.foto %}
      lista_foto_url.push('{{i.foto.url}}');
    {% else %}
      lista_foto_url.push('https://placehold.it/100x100');
    {% endif %}
  {% endfor %}
  console.log(lista_foto_url);
  function ajax_search() {
    
    deletar('antiga');
  
    var input = document.getElementById('search');
    var nome = document.getElementById('nomejs');
    var link_perfil = document.getElementById('link');
    var email = document.getElementById('email');
    var foto = document.getElementById('foto');
    var div_para_aparecer = document.getElementById('div');
    var div_para_sumir = document.getElementById('eletricistas');
    var resultados = 0;
    var index = [];
    for (var i = 0; i < lista.length; i++){
      if (lista[i].toLowerCase().indexOf(input.value.toLowerCase()) > -1 || lista_email[i].indexOf(input.value) > -1){
        //nome.textContent = lista[i];
        //email.textContent = lista_email[i];
        //link_perfil.href = '/user/adm/perfil_eletricista/' + lista_nicknames[i] + '/';
        //foto.src = lista_foto_url[i];

        div_para_aparecer.style.display = 'block';
        div_para_sumir.style.display = 'none';
        resultados += 1;
        index.push(i);
      }
      if (input.value == ''){
        div_para_aparecer.style.display = 'none';
        div_para_sumir.style.display = 'block';
      }
    }
    for (var t = 0; t < index.length; t++){
      criar(index[t]);
    }
  }
  var myVar;

  function myFunction() {
    myStopFunction(myVar);
    myVar = setTimeout(ajax_search, 400);
  }

  function myStopFunction(x) {
    clearTimeout(x);
  }

  function deletar(className){
    var elements = document.getElementsByClassName(className);
    while(elements.length > 0){
        elements[0].parentNode.removeChild(elements[0]);
    }
}


  function criar(i){

    var li = document.createElement('li');
    li.className = 'chat-persons antiga';
    li.id = 'antiga';
    var a = document.createElement('a');
    a.href = '/user/adm/perfil_eletricista/' + lista_nicknames[i] + '/';
    li.appendChild(a);
    var span = document.createElement('span');
    span.className = 'pro-pic';
    var img = document.createElement('img');
    img.src = lista_foto_url[i];
    console.log(li);
    span.appendChild(img);
    a.appendChild(span);

    var div = document.createElement('div');
    div.className = 'user';
    var p1 = document.createElement('p');
    p1.className = 'u-name';
    p1.textContent = lista[i];
    div.appendChild(p1);

    var p2 = document.createElement('p');
    p2.className = 'u-designation';
    p2.style.fontSize = '15px';
    var strong = document.createElement('strong');
    strong.textContent = lista_email[i];
    p2.appendChild(strong);
    p2.textContent = 'Email: ';
    p2.appendChild(strong);
    div.appendChild(p2);

    a.appendChild(div);

    li.appendChild(a);
    var ul = document.getElementById('ul');
    ul.appendChild(li);
  }
</script>
{% endblock %}
