{% extends 'base_cliente.html' %}
{% load staticfiles %}

{% block content %}
<html lang="pt-br">
  <body class="horizontal-menu">
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper">
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="container">
              <div class="row">
                <div class="col-12 grid-margin">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Histórico de Serviços</h4>
                        <table class="table center-aligned-table">
                          <thead>
                            <tr>
                              <th class="border-bottom-0">Data</th>
                              <th class="border-bottom-0">Endereço</th>
                              <th class="border-bottom-0">Valor</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>
                                {% for servico in servicos %}
                                  <tr>
                                    <td>
                                      {{servico.data}}
                                    </td>
                                    <td>
                                      {{servico.endereco}}
                                    </td>
                                    <td>
                                      {{servico.valor}}
                                    </td>
                                  </tr>
                                {% endfor %}
                          </tbody>
                        </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>            
          </div>
        </div>
    </div>
     </body>
</html>

{% endblock %}