
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Eletricista24hs</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'radiant/jquery/vendors/iconfonts/mdi/css/materialdesignicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'radiant/jquery/vendors/iconfonts/puse-icons-feather/feather.css' %}">
  <link rel="stylesheet" href="{% static 'radiant/jquery/vendors/css/vendor.bundle.base.css' %}">
  <link rel="stylesheet" href="{% static 'radiant/jquery/vendors/css/vendor.bundle.addons.css' %}">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'radiant/jquery/css/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'radiant/jquery/images/logo-personagem.png' %}" />
</head>
<body>
    <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
        <a class=""></a>
        <a class=""></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="mdi mdi-menu"></span>
        </button>
        
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item dropdown">
            <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
              <i class="mdi mdi-bell-outline"></i>
              <span class="count bg-success">10</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
              <a class="dropdown-item py-3">
                <p class="mb-0 font-weight-medium float-left">You have 4 new notifications
                </p>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-inverse-success">
                    <i class="mdi mdi-alert-circle-outline mx-0"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject font-weight-normal text-dark mb-1">Application Error</h6>
                  <p class="font-weight-light small-text mb-0">
                    Just now
                  </p>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-inverse-warning">
                    <i class="mdi mdi-comment-text-outline mx-0"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject font-weight-normal text-dark mb-1">Settings</h6>
                  <p class="font-weight-light small-text mb-0">
                    Private message
                  </p>
                </div>
              </a>
              
          </li>
          
          <li class="nav-item dropdown d-none d-xl-inline-block">
            <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
              <span class="mr-3">Olá, {{usuario}}</span><img class="img-xs rounded-circle" img src="{% static 'radiant/jquery/images/logo-personagem.png' %}" alt="Profile image">
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
              <a class="dropdown-item p-0">
                <div class="d-flex border-bottom">
                  <div class="py-3 px-4 d-flex align-items-center justify-content-center"><i class="mdi mdi-bookmark-plus-outline mr-0 text-gray"></i></div>
                  <div class="py-3 px-4 d-flex align-items-center justify-content-center border-left border-right"><i class="mdi mdi-account-outline mr-0 text-gray"></i></div>
                  <div class="py-3 px-4 d-flex align-items-center justify-content-center"><i class="mdi mdi-alarm-check mr-0 text-gray"></i></div>
                </div>
              </a>
              <a class="dropdown-item mt-2">
                Editar Perfil
              </a>
              
              <a class="dropdown-item"  href="{% url 'change_password' %}">
                Alterar Senha
              </a>

              <a class="dropdown-item">
                Check Inbox
              </a>
              <a class="dropdown-item" href="{% url 'logout' %}">
                Logout
              </a>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item nav-profile">
            <div class="nav-link">
              <div class="profile-image"> <img src="{% static 'radiant/jquery/images/logo-personagem.png' %}" alt="image"/> <span class="online-status online"></span> </div>
              <div class="profile-name">
                <p class="name">{{usuario}}</p>
              </div>
              <div class="notification-panel mt-4">
                <span><i class="mdi mdi-settings"></i></span>
                <span class="count-wrapper"><i class="mdi mdi-bell"></i><span class="count top-right bg-warning">4</span></span>
                <span><i class="mdi mdi-email"></i></span>
              </div>
            </div>
          </li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'adm' %}"> <img class="menu-icon" src="{% static 'radiant/jquery/images/menu_icons/01.png' %}" alt="menu icon"> <span class="menu-title">Solicitar Serviço</span></a> </li>
          <li class="nav-item"> <a class="nav-link" href=""> <img class="menu-icon" src="{% static 'radiant/jquery/images/menu_icons/19.png' %}" alt="menu icon"> <span class="menu-title">Editar Perfil</span> </a> </li>
          <li class="nav-item"> <a class="nav-link" href=""> <img class="menu-icon" src="{% static 'radiant/jquery/images/menu_icons/15.png' %}" alt="menu icon"> <span class="menu-title">Histórico de Serviços</span> </a> </li>
          
          <li class="nav-item">
            <div class="sidebar-sticker">
              <div class="d-flex align-items-center text-primary">
                <h6 class="mb-1">PRECISA DE AJUDA?</h6><i class="mdi ml-2 mdi-bell-ring-outline"></i>
              </div>
              <a class="d-block text-gray my-2" href="#">olá@hotmail.com</a>
              <a class="d-block" href="#">Visite o nosso FAQ</a>
            </div>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
         
          <div class="row">
            
            
            </div>
          <div class="col-md-4 grid-margin stretch-card">
              
          </div>
          <div class="row">
            
          </div>

  {% block content %}
  	<h1>Parabens, voce logou como: {{usuario}}</h1>
	<h2>{{usuario.email}}</h2>
	<h2>{{usuario.telefone}}</h2>
	<h2>{{usuario.CEP}}</h2>
	<h2>{{usuario.CPF}}</h2>
	<h2>{{usuario.endereco}}</h2>
	<h2>{{usuario.genero}}</h2>
	{% if usuario.foto %}
		<img src="{{usuario.foto.url}}">
	{% else %}
		<h2> Voce nao possui imagem </h2>
	{% endif %}
	<h2>{% if usuario.tipo == 'Eletricista' %}
			<h2>Voce se registrou como um: Eletricista</h2>
		{% else %}
			<h2>Voce se registrou como um:Cliente</h2>
		{% endif %}

	<a href="{% url 'logout' %}"><h2>Logout</h2></a>

  {% endblock %}

       <div class="col-md-7 grid-margin stretch-card">
             
          </div>
          <div class="row">
            
          </div>
          <div class="row">
            
          </div>
          <div class="row">
            
          </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <div class="page-footer">
            <div class="page-footer-inner"> 2018 &copy; Developed by <a href="http://www.polijunior.com.br" target="_blank">Poli Júnior.</a>
            </div>
            <div class="scroll-to-top">
            </div>
        </div>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->  

  <script src="{% static 'radiant/jquery/vendors/js/vendor.bundle.base.js' %}"></script>
  <script src="{% static 'radiant/jquery/vendors/js/vendor.bundle.addons.js' %}"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src="{% static 'radiant/jquery/js/off-canvas.js' %}"></script>
  <script src="{% static 'radiant/jquery/js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'radiant/jquery/js/misc.js' %}"></script>
  <script src="{% static 'radiant/jquery/js/settings.js' %}"></script>
  <script src="{% static 'radiant/jquery/js/todolist.js' %}"></script>
  <script src="{% static 'radiant/jquery/js/file-upload.js' %}"></script>
</body>
</html>