{% extends 'base_cliente.html' %}
{% load staticfiles %}

{% block content %}
      <div class="main-panel">
        <div class="content-wrapper conteudo_perfil">
          <div class="row">
            <div class="col">
                <div class="grid-margin stretch-card rise">
                  <div class="card card-statistics">
                    <div class="card-body">
                      <div class="d-flex align-items-left justify-content-left ml-2">
                        <div>
                          <img src="{{eletricista.foto.url}}" style="border-radius: 100%; width: 100px; height: 100px">
                        </div>
                        <div class="wrapper">
                          <form class="form-signin" actions="{% url 'registrar' %}" method="post" enctype="multipart/form-data"> 
                            {% csrf_token %}
                          <h4>Minha foto:</h4>
                          <div class="fluid-container" id="alterar_foto">
                          </div>
                          </form>
                        </div>
                      </div>
                      <div class="editar destaca" id="editar_foto"> Editar </div>
                    </div>
                  </div>
                </div>
                <div class="grid-margin stretch-card rise">
                  <div class="card card-statistics">
                    <div class="card-body">
                      <div class="d-flex align-items-left justify-content-left ml-2">
                        <div class="highlight-icon bg-light mr-3">
                          <i class="mdi mdi-textbox amarelo icon-lg"></i>
                        </div>
                        <div class="wrapper">
                          <form class="form-signin" actions="{% url 'registrar' %}" method="post" enctype="multipart/form-data"> 
                            {% csrf_token %}
                          <h4>Meu nome:</h4>
                          <div class="fluid-container" id="alterar_nome" style="position: relative; width: 100%">
                            <h3 class="card-title mb-0">{{cliente.usuario.first_name}}</h3>
                          </div>
                          </form>
                        </div>
                      </div>
                    <div class="editar destaca" id="editar_nome"> Editar </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="grid-margin stretch-card rise">
                  <div class="card card-statistics">
                    <div class="card-body">
                      <div class="d-flex align-items-left justify-content-left ml-2">
                        <div class="highlight-icon bg-light mr-3">
                          <i class="mdi mdi-numeric amarelo icon-lg"></i>
                        </div>
                        <div class="wrapper">
                          <form class="form-signin" actions="{% url 'registrar' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                          <h4>Meu CPF:</h4>
                          <div class="fluid-container" id="alterar_CPF">
                            <h3 class="card-title mb-0">{{cliente.CPF}}</h3>
                          </div>
                          </form>
                        </div>
                      </div>
                     <div class="editar destaca" id="editar_CPF"> Editar </div>
                    </div>
                  </div>
                </div>
                <div class="grid-margin stretch-card rise">
                  <div class="card card-statistics">
                    <div class="card-body">
                      <div class="d-flex align-items-left justify-content-left ml-2">
                        <div class="highlight-icon bg-light mr-3" >
                          <i class="mdi mdi-map-marker amarelo icon-lg"></i>
                        </div>
                        <div class="wrapper">
                          <form class="form-signin" actions="{% url 'registrar' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                          <h4>Meu CEP:</h4>
                          <div class="fluid-container" id="alterar_CEP">
                            <h3 class="card-title mb-0">{{cliente.CEP}}</h3>
                          </div>
                          </form>
                        </div>
                      </div>
                    <div class="editar destaca" id="editar_CEP"> Editar </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
            <div class="col">
                <div class="grid-margin stretch-card rise">
                  <div class="card card-statistics">
                    <div class="card-body">
                      <div class="d-flex align-items-left justify-content-left ml-2">
                        <div class="highlight-icon bg-light mr-3">
                          <i class="mdi mdi-home amarelo icon-lg"></i>
                        </div>
                        <div class="wrapper">
                          <form class="form-signin" actions="{% url 'registrar' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                          <h4>Meu endereço:</h4>
                          <div class="fluid-container" id="alterar_endereco">
                            <h3 class="card-title mb-0">{{cliente.endereço}}</h3>
                          </div>
                          </form>
                        </div>
                      </div>
                      <div class="editar destaca" id="editar_endereco"> Editar </div>
                    </div>
                  </div>
                </div>
                <div class="grid-margin stretch-card rise">
                  <div class="card card-statistics">
                    <div class="card-body">
                      <div class="d-flex align-items-left justify-content-left ml-2">
                        <div class="highlight-icon bg-light mr-3">
                          <i class="mdi mdi-phone amarelo icon-lg"></i>
                        </div>
                        <div class="wrapper">
                          <form class="form-signin" actions="{% url 'registrar' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                          <h4>Meu telefone:</h4>
                          <div class="fluid-container" id="alterar_telefone">
                            <h3 class="card-title mb-0">{{cliente.telefone}}</h3>
                          </div>
                          </form>
                        </div>
                      </div>
                      <div class="editar destaca" id="editar_telefone"> Editar </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="grid-margin stretch-card rise">
                  <div class="card card-statistics">
                    <div class="card-body">
                      <div class="d-flex align-items-left justify-content-left ml-2">
                        <div class="highlight-icon bg-light mr-3">
                          <i class="mdi mdi-at amarelo icon-lg"></i>
                        </div>
                        <div class="wrapper">
                          <form class="form-signin" actions="{% url 'registrar' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                          <h4>Meu email:</h4>
                          <div class="fluid-container" id="alterar_email">
                            <h3 class="card-title mb-0">{{cliente.usuario.email}}</h3>
                          </div>
                        </form>
                        </div>
                      </div>
                      <div class="editar destaca" id="editar_email"> Editar </div>
                    </div>
                  </div>
                </div>
                <div class="grid-margin stretch-card rise">
                  <div class="card card-statistics">
                    <div class="card-body">
                      <div class="d-flex align-items-left justify-content-left ml-2">
                        <div class="highlight-icon bg-light mr-3">
                          <i class="mdi mdi-gender-male-female amarelo icon-lg"></i>
                        </div>
                        <div class="wrapper">
                          <form class="form-signin" actions="{% url 'registrar' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                          <h4>Meu gênero:</h4>
                          <div class="fluid-container" id="alterar_genero">
                            <h3 class="card-title mb-0">{{cliente.genero}}</h3>
                          </div>
                        </form>
                        </div>
                      </div>
                      <div class="editar destaca" id="editar_genero"> Editar </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>  
        </div>  



<script type="text/javascript">
  var nome = document.getElementById("editar_foto")
  nome.addEventListener('click', function(){
    document.getElementById('alterar_foto').innerHTML = '<input type="file" name="foto" id="id_foto" class="file-upload-default"> <button id="cadastrar" class="btn btn-success submit-btn btn-block salvar">Salvar</button>'
  })
  var nome = document.getElementById("editar_nome")
  nome.addEventListener('click', function(){
    document.getElementById('alterar_nome').innerHTML = '<input type="text" class="form-control form-editar" placeholder="Ex: José Da Silva" id="id_nome" name="nome"><button id="cadastrar" class="btn btn-success submit-btn btn-block salvar">Salvar</button>'
  })
  var nome = document.getElementById("editar_CPF")
  nome.addEventListener('click', function(){
    document.getElementById('alterar_CPF').innerHTML = '<input type="text" class="form-control form-editar" placeholder="Ex: 123.456.789-10" id="id_CPF" name="CPF"><button id="cadastrar" class="btn btn-success submit-btn btn-block salvar">Salvar</button>'
  })
  var nome = document.getElementById("editar_CEP")
  nome.addEventListener('click', function(){
    document.getElementById('alterar_CEP').innerHTML = '<input type="text" class="form-control form-editar" placeholder="Ex: 14123-001" id="id_CEP" name="CEP"> <button id="cadastrar" class="btn btn-success submit-btn btn-block salvar">Salvar</button>'
  })
  var nome = document.getElementById("editar_endereco")
  nome.addEventListener('click', function(){
    document.getElementById('alterar_endereco').innerHTML = '<input type="text" class="form-control form-editar" placeholder="Digite seu endereço completo" id="id_endereco" name="endereco"> <button id="cadastrar" class="btn btn-success submit-btn btn-block salvar">Salvar</button>'
  })
  var nome = document.getElementById("editar_telefone")
  nome.addEventListener('click', function(){
    document.getElementById('alterar_telefone').innerHTML = ' <input type="text" class="form-control form-editar" placeholder="Ex:+55 11 912344321" id="id_tel" name="telefone"> <button id="cadastrar" class="btn btn-success submit-btn btn-block salvar">Salvar</button>'
  })
  var nome = document.getElementById("editar_email")
  nome.addEventListener('click', function(){
    document.getElementById('alterar_email').innerHTML = '<input type="text" class="form-control form-editar" placeholder="Ex: exemplo@hotmail.com" id="id_email" name="email"> <button id="cadastrar" class="btn btn-success submit-btn btn-block salvar">Salvar</button>'
  })
  var nome = document.getElementById("editar_genero")
  nome.addEventListener('click', function(){
    document.getElementById('alterar_genero').innerHTML = '<select type="option" class="form-control form-editar" id="id_genero" name="genero" required><option disabled selected>Escolha seu gênero</option><option value="Masculino">Masculino</option><option value="Feminino">Feminino</option></select><button id="cadastrar" class="btn btn-success submit-btn btn-block salvar">Salvar</button>'
  })
  

</script>        
{% endblock %}
  