{% extends 'base_adm.html' %}
{% load staticfiles %}
<body>
{% block content %}
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row profile-page">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <div class="header" style="background-image: url({% static 'radiant/jquery/images/elec.jpg' %})">
                    <div class="d-flex justify-content-around">
                      <div class="profile-info d-flex align-items-center">
                        {% if cliente.foto %}
                          <span class="pro-pic"><img src="{{cliente.foto.url}}" style="height: 120px; width: 120px; border-radius: 90px;" alt="profile image"></span>
                        {% else %}
                            <span class="pro-pic"><img src="https://placehold.it/100x100"></span>
                        {% endif %}
                        <div class="wrapper pl-4">
                          <p class="profile-user-name" style="font-size: 30px"><strong>{{ cliente.nome }}</strong></p>
                          <div class="wrapper d-flex align-items-center">
                          </div>
                        </div>
                      </div>
                      <div class="details">
                        <div class="detail-col">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="profile-body">
                    <ul class="nav tab-switch" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="user-profile-info-tab" data-toggle="pill" href="#user-profile-info" role="tab" aria-controls="user-profile-info" aria-selected="true">Perfil</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="user-profile-activity-tab" data-toggle="pill" href="#user-profile-activity" role="tab" aria-controls="user-profile-activity" aria-selected="false">Atividade</a>
                      </li>
                    </ul>
                    <div class="row">
                      <div class="col-md-9">
                        <div class="tab-content tab-body" id="profile-log-switch">
                          <div class="tab-pane fade show active pr-3" id="user-profile-info" role="tabpanel" aria-labelledby="user-profile-info-tab">
                            <table style="font-size: 500%" class="table table-borderless w-100 mt-4">
                              <tr>
                                <td><strong>Nome :</strong> {{cliente.nome}}</td>
                                <td><strong>CPF :</strong> {{cliente.CPF}}</td>
                                
                              </tr>
                              <tr>
                                <td><strong>CEP :</strong> {{cliente.CEP}}</td>
                                <td><strong>Endereço :</strong> {{cliente.endereco}}</td>
                              </tr>
                              <tr>
                                <td><strong>Telefone :</strong> {{cliente.telefone}}</td>
                                <td><strong>Email :</strong> {{cliente.email}}</td>
                              </tr>
                              <tr>
                      
                                <td><strong>Género :</strong> {{cliente.genero}}</td>
                              </tr>
                            </table>
                            <div class="row">
                              <div class="col-12 mt-5">
                              </div>
                            </div>
                            
                            </div>
                          </div>                            
  {% endblock %}
</body>