{% extends 'base_adm.html' %}
{% load staticfiles %}
<body>
{% block content %}
  <style>
    .col-md-10 {
      padding-left: 15%;
    }
  </style>
          <div class="">
            <div class="col-md-10 stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex align-items-center justify-content-between mb-4" >
                    <h1 class="card-title mb-0">Questionarios Pendentes</h1>
                  </div>
                  <div class="new-accounts">
                    <ul class="chats">
                      <!-- LISTA DOS QUESTIONARIOS -->
                        {% for questionario in questionario_list %}
                          {% if questionario.eletricista_avaliado.status == 'Inativo' %}
                          <li class="chat-persons">
                            <a href="perfil_eletricista/{{questionario.eletricista_avaliado.nickname}}/">
                              {% if questionario.eletricista_avaliado.foto %}
                                <span style="width: 20%; height: 20%;"><img src="{{questionario.eletricista_avaliado.foto.url}}" style="height: 100px; width:100px; border-radius: 100%"></span>
                              {% else %}
                                <span style="width: 20%; height: 20%;"><img src="https://placehold.it/100x100" style="border-radius: 100%"></span>
                              {% endif %}
                              <div class="user" style="margin-top: 2%;">
                                <p class="u-name" style="font-size: 20px;">{{questionario.eletricista_avaliado}}</p>
                                <p class="u-designation" style="font-size: 15px">Pontuação: <strong>{{questionario.pontuacao}}</strong></p>
                                {% if questionario.pdf %}
                                  <p>{{questionario.pdf.name}}</p>
                                {% endif %}
                              </div>
                              <a href="perfil_eletricista/{{questionario.eletricista_avaliado.nickname}}/"><button type="button" class="btn btn-success btn-lg float-sm-left" style="margin-top: -10%; margin-left: 75%; background-color: #fcc425; border: transparent;">Visualizar</button></a>
                            </a>
                          {% endif %}
                          </li>
                        {% endfor %}
                      <!-- list person -->
                      <!-- FIM DA LISTA DOS QUESTIONARIOS -->
                    </ul>
                  </div>
                </div>
              </div>
            </div>
{% endblock %}
</body>
