{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Cadastre-se - Eletricista24hs</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'radiant/jquery/vendors/iconfonts/mdi/css/materialdesignicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'radiant/jquery/vendors/iconfonts/puse-icons-feather/feather.css' %}">
  <link rel="stylesheet" href="{% static 'radiant/jquery/vendors/css/vendor.bundle.base.css' %}">
  <link rel="stylesheet" href="{% static 'radiant/jquery/vendors/css/vendor.bundle.addons.css' %}">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'radiant/jquery/css/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'radiant/jquery/images/logo-personagem.png' %}" />
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
</head>
<style type="text/css">
  h5 {
    color: black;
  }
</style>
<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <img src="/static/radiant/jquery/images/torre_eletricidade.png" style="z-index: 0; position: absolute; height: 200%; width: 100%;">
      <div class="content-wrapper d-flex align-items-center auth theme-one">
        <div class="row w-100" style="padding-left: 1%">
          <div class="col-lg-7 mx-auto">
            <div class="auto-form-wrapper">
              <img src="{% static 'radiant/jquery/images/logo-personagem.png' %}" style="padding-left: 43%; padding-bottom: 40px" >
              <form class="form-signin" actions="{% url 'registrar' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                  <h5>Nome do Titular do Cartão</h5>
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Ex: JOSÉ SANTOS" id="id_card_holder_name" name="card_holder_name" required>
                    <div class="input-group-append">
                      <span class="input-group-text"><i id="i-card_holder_name" class="mdi mdi-check-circle-outline"></i></span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <h5>Número do Cartão</h5>
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Ex: 0000 0000 0000 0000" id="id_card_number" name="card_number" required>
                    <div class="input-group-append">
                      <span class="input-group-text"><i id="i-card_number" class="mdi mdi-check-circle-outline"></i></span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <h5>Vencimento</h5>
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Ex: 10/22" id="id_card_expiration_date" name="card_expiration_date" required>
                    <div class="input-group-append">
                      <span class="input-group-text"><i id="i-card_expiration_date" class="mdi mdi-check-circle-outline"></i></span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <h5>Código de Segurança</h5>
                  <div class="input-group">
                    <input type="password" class="form-control" placeholder="000" id="id_card_cvv" name="card_cvv" required>
                    <div class="input-group-append">
                      <span class="input-group-text"><i id="i-card_cvv" class="mdi mdi-check-circle-outline" style=""></i></span>
                    </div>
                  </div>
                </div>
               
                {% if form.errors %}
                  <div class ="alert alert-danger">
                    <button type="button" class="close">&times;</button>
                    {{form.non_field_errors}}
                    <ul>
                      {% for field in form %}
                        {% if field.errors %}
                          {% if field.label == 'card_holder_name' %}
                            <li>{{ field.label }}: Digite um nome válido</li>
                          {% endif %}
                          {% if field.label == 'card_number' %}
                            <li>{{ field.label }}: Digite um número válido</li>
                          {% endif %}
                          {% if field.label == 'card_cvv' %}
                            <li>{{ field.label }}: Digite um Código de Segurança válido</li>
                          {% endif %}
                          {% if field.label == 'card_expiration_date' %}
                            <li>{{ field.label }}: Digite um vencimento válido</li>
                          {% endif %}
                       
                        {% endif %}
                      {% endfor %}
                    </ul>
                  </div>
                {% endif %}

                <div class="form-group">
                  <button id="salvar" class="btn btn-success submit-btn btn-block" >Salvar</button>
                </div>
                <div class="text-block text-center my-3">
                  
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script type="text/javascript">
    var url = window.location.pathname;
    
    $("#id_card_number").mask("0000 0000 0000 0000");
    $("#id_card_cvv").mask("000");
    $("#id_card_expiration_date").mask("00/00")

    var bool = document.getElementsByClassName('mdi mdi-check-circle-outline');

    checked('card_holder_name')
    checked('card_cvv')
    checked('card_number')
    checked('card_expiration_date')

     function checked(x){
      var input = document.getElementById('id_' + x);
      input.addEventListener('keyup', function() {
        var bool = document.getElementsByClassName('mdi mdi-check-circle-outline');
        var botao = document.getElementById('salvar');
        var tamanho = 4;
        if (x == 'card_number') {
          tamanho = 16;
        }
        if (x == 'card_cvv') {
          tamanho = 2;
        }
        if (x == 'card_expiration_date') {
          tamanho = 4;
        }
        if (x == 'card_holder_name') {
          tamanho = 5;
        }
        if (input.value.length > tamanho){
          let i = document.getElementById('i-' + x);
          i.style.color = 'green';
          i.className = 'mdi mdi-checkbox-marked-circle';
        }
        if (input.value.length < tamanho) {
          let i = document.getElementById('i-' + x);
          i.style.color = '';
          i.className = 'mdi mdi-check-circle-outline';
        }
        console.log(bool.length, botao.disabled);
        if (bool.length == 0){
          botao.disabled = false;
        }
        if(bool.length > 0) {
          console.log('chegueiaqui');
          botao.disabled = true;
        }
      })
    }

  </script>
  <script src="{% static 'radiant/jquery/vendors/js/vendor.bundle.base.js' %}"></script>
  <script src="{% static 'radiant/jquery/vendors/js/vendor.bundle.addons.js' %}"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src="{% static 'radiant/jquery/js/off-canvas.js' %}"></script>
  <script src="{% static 'radiant/jquery/js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'radiant/jquery/js/misc.js' %}"></script>
  <script src="{% static 'radiant/jquery/js/settings.js' %}"></script>
  <script src="{% static 'radiant/jquery/js/todolist.js' %}"></script>
  <script src="{% static 'radiant/jquery/js/file-upload.js' %}"></script>
  <!-- endinject -->
</body>

</html>

