{% extends 'base_cliente.html' %}
{% load staticfiles %}

{% block content %}
  <div class="h" style="background-color: #f3f3f3">
    <div class="card-body relogio m-4">
      <div class="header_relogio">
      <p class="card-title mb-4 ml-3 serviço-em-exec">Serviço em Execução</p>
     <div class="info_eletricista"> 
      <div class="foto_eletricista">  
        {% if eletricista.foto %}
          <img src="{{eletricista.foto.url}}"  alt="profile image" style="border-radius: 100%; width: 100px; height: 100px; display: inline">
        {% else %}
          <img src="https://placehold.it/100x100" style="border-radius: 100%; width: 100px; height: 100px; display:inline">
        {% endif %}
      </div>
      <div class="nome_eletricista">  
        <strong>Nome :</strong> {{eletricista.usuario.first_name}}
      </div>
    </div>
  </div>
      <div style=" height: calc(100vh - 338px)">
        <div class="card-body">
          <h4 class="tempo">1h 23min</h4>
        </div>
        <div class="botoes-serviço">
          <button class="btn btn-secondary botao3 pausar">Pausar</button>
          <button class="btn btn-info botao3 finalizar">Finalizar</button>
        </div>
      </div> 
    </div>
  </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
  
        <!-- partial -->
</div>
{% endblock %}
  