{% extends 'base_cliente.html' %}
{% load staticfiles %}

{% block content %}

  <div class="h animacao_amarela">
    <div class="card-body relogio">
      <div class="header_relogio">
        <p class="card-title mb-4 ml-3 serviço-em-exec">Serviço em Execução:</p>
        <p class="tempo-exec">1h23min</p>
      </div>
      <div class="card-body">
        <div class="botoes-serviço">
          <button class="btn btn-secondary botao3 pausar">Pausar</button>
          <button id="pausar_servico" class="btn btn-danger" style="float: left; display: block; padding-right: 30px; padding-left: 30px">
                <div class="pausar">Pausar</div>

                <button id="continuar_servico" class="btn btn-danger" style="float: left; display: block; padding-right: 30px; padding-left: 30px">
                <div class="continuar">Continuar</div>
          <button class="btn btn-info botao3 finalizar" id="finalizar">Finalizar</button>
        </div>
      </div>
      <div class="card-footer">
          <div class="info_eletricista"> 
            <div class="foto_eletricista">  
              {% if eletricista.foto %}
                <img src="{{eletricista.foto.url}}"  alt="profile image" style="border-radius: 100%; width: 100px; height: 100px; display: inline">
              {% else %}
                <img src="https://placehold.it/100x100" style="border-radius: 100%; width: 100px; height: 100px; display:inline">
              {% endif %}
            </div>
            <div class="nome_eletricista">  
              <strong>Nome :</strong> {{eletricista.usuario.first_name}}
            </div>
          </div>
        </div> 
    </div>
  </div>
  
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
  
        <!-- partial -->
</div>
<script type="text/javascript">
  var bf = document.getElementById("finalizar")
  bf.addEventListener('click', function(){
    document.querySelector('h4').style.display = 'none'
    document.getElementById('avaliar').style.display = 'block'
  })
  var stars = document.getElementsByClassName("fa")
  var s0 = document.getElementById('s1')
  var s1 = document.getElementById('s2')
  var s2 = document.getElementById('s3')
  var s3 = document.getElementById('s4')
  var s4 = document.getElementById('s5')
  for(var i = 0; i < stars.length; i++) {
    stars[i].addEventListener('click', function(e){
      for(var j = 0; j < stars.length; j++) {
        if(e.target == stars[j]) {
          console.log('voce avaliou como: ', e.target.id[1])
          console.log(j+1)
          
        }
      }
    })
  }


  s0.addEventListener('mouseover', function(event) {
    colorir(event.target)
    for(var i = 1; i < stars.length; i++) {
      descolorir(stars[i])
    }
  })
  s1.addEventListener('mouseover', function(event) {
    colorir(s0)
    colorir(event.target)
    for(var i = 2; i < stars.length; i++) {
      descolorir(stars[i])
    }
  })
  s2.addEventListener('mouseover', function(event) {
    colorir(s0)
    colorir(s1)
    colorir(event.target)
    for(var i = 3; i < stars.length; i++) {
      descolorir(stars[i])
    }
  })
  s3.addEventListener('mouseover', function(event) {
    colorir(s0)
    colorir(s1)
    colorir(s2)
    colorir(event.target)
    for(var i = 4; i < stars.length; i++) {
      descolorir(stars[i])
    }
  })
  s4.addEventListener('mouseover', function(event) {
    colorir(s0)
    colorir(s1)
    colorir(s2)
    colorir(s3)
    colorir(event.target)
    for(var i = 5; i < stars.length; i++) {
      descolorir(stars[i])
    }
  })

  function colorir(star) {
    if(!star.className.indexOf('checked') > -1) {
      star.className = 'fa fa-star checked'
    }
  }
  function descolorir(star) {
    if(star.className.indexOf('checked') > -1) {
      star.className = 'fa fa-star'
    }
  }
</script>
{% endblock %}
  