{% extends 'base_cliente.html' %}
{% load staticfiles %}

{% block content %}
	<style type="text/css">
		.modal {
		    display: none; /* Hidden by default */
		    position: fixed; /* Stay in place */
		    z-index: 1; /* Sit on top */
		    left: 0;
		    top: 0;
		    width: 100%; /* Full width */
		    height: 100%; /* Full height */
		    overflow: auto; /* Enable scroll if needed */
		    background-color: rgb(0,0,0); /* Fallback color */
		    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
		}

		/* Modal Content/Box */
		.modal-content {
		    background-color: #green;
		    
		    margin: 15% auto; /* 15% from the top and centered */
		    padding: 20px;
		    border: 1px solid #888;
		    width: 40%; /* Could be more or less, depending on screen size */
		    margin-right: 25%;
		}

		/* The Close Button */
		.close {
		    color: #aaa;
		    float: right;
		    font-size: 28px;
		    font-weight: bold;
		    width: 5%;
		}

		.close:hover,
		.close:focus {
		    color: black;
		    text-decoration: none;
		    cursor: pointer;
		}
    .fundo-botao {
      background-color: rgba(255,255,255,0.5);
      z-index:100%; 
      position: absolute;
      left: 40%; 
      bottom:5%;
      height:10%;
      width:20%;
    }
     .w{
      width: 100vw;
    }

    .h{
      height: 100vh;
    }

    .q_pergunta{
    text-align: justify;
    font-size: 170%;
    }

    .select-group select{
      width: 100% !important;
      height: auto !important;
      font-size: 140% !important;
    }

    .form-group p{
    padding-bottom: .1%;
    font-size: 140%;
    }

    .form-group option{
    width: 100%;
    height:auto;
    }

    .page-footer{
      position: absolute;
      bottom: : 0px;
      right: 0px;
    }

    .botao-recusar{
      margin-right: 25%; 
      position: relative;
      height: 150%; 
      width: 20%
    }

    .botao-aceitar{
      margin-left: 25%; 
      position: relative;
      height: 150%; 
      width: 20%
    }

    .botao-bloqueio{
      height: 150%; 
      width: 20%
    }

    .content-wraper, .main-panel{
      width:100%;
    }

    .table.table-borderless td{
      font-size:130%;
    }

    .tab-body{
      width:100%;
    }

    .logo-escrita{
      height: 30px;
    }

    #solicitar{
      z-index:90%; 
      position: absolute;
      margin-left: 5%; 
      bottom:7%;
      height: 85%;
      width:90%;
    }

    #map {
      height: 54rem;
      object-fit: cover;
      position: relative;
      
      z-index: 0%;
    }

    .nav-bottom{
      position: relative;
      left:10%;
    }

    .wid{
      max-width: none; 
      width: 100%
    }

    .info {
      display: none;
      margin: 15px;
    }

    .fundo-botao{
      background-color: rgba(255,255,255,0.5);
      z-index:100%; 
      position: absolute;
      left: 40%; 
      bottom:5%;
      height:10%;
      width:20%;
    }

    .botao1{
      margin-top: 30px; 
      margin-bottom: 20px; 
      background-color: #fcc425; 
      border: none; 
      font-weight: bold; 
      font-size: 100%; 
      letter-spacing: 3px;
    }

    .botao2{ 
      background-color: #fcc425; 
      border: none; 
      font-weight: bold; 
      font-size: 100%; 
      letter-spacing: 0.5%;
    }

    .botao3{
      border: none; 
      font-weight: bold; 
      font-size: 3.5vw; 
      letter-spacing: 20%;
      height: 60%;
      width: auto;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .solicitar{
      font-size: 100%; 
      line-height: 120%;
    }

    .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    -webkit-animation-duration: 1000ms;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }

    }

    .modal-backdrop {
      z-index: -1;
    }

    .center-div {
     margin: 0 auto;
     width: 100px; 
    }

    .lds-ripple {
      display: inline-block;
      position: relative;
      width: 50%;
      height: 50%;
    }
    .lds-ripple div {
      position: absolute;
      border: 4px solid #fff;
      opacity: 1;
      border-radius: 50%;
      animation: lds-ripple 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }
    .lds-ripple div:nth-child(2) {
      animation-delay: -1s;
    }
    @keyframes lds-ripple {
      0% {
        top: 80%;
        left: 80%;
        width: 0;
        height: 0;
        opacity: 1;
        background-color: #fcc425;
      }
      100% {
        top: -70%;
        left: -70%;
        width: 150px;
        height: 150px;
        opacity: 0;
        background-color: #fcc425;
      } 
    }

    .header_relogio{
      width:100%;
      height:40%;
      display:inline-flex;
    }

    .info_eletricista{
      position:absolute;
      right:5%;
      height:50%;
      width:auto;
      display: block;
    }

    .foto_eletricista{
      float: top;
    }

    .nome_eletricista{
      margin-top: 10%;
    }

    .serviço-em-exec{
      font-size: 4vw;
    }

    .tempo{
      position: relative;
      margin-top: 3.5%;
      font-size: 14vw;
      color: black;
      text-align: center; 
    }

    .botoes-serviço{
      display: flex;
      height: 15vh;
      justify-content: space-around;
      margin-top: 3vmin;
    }

    .relogio{
      border-radius: 10px;
      background: linear-gradient(-45deg, #fcf425, #fcfcbe, #ffffff, #fcfcbe, #fcf425);
      background-size: 1000% 1000%;
      -webkit-animation: Gradient 15s ease infinite;
      -moz-animation: Gradient 15s ease infinite;
      animation: Gradient 15s ease infinite;
    }

    @-webkit-keyframes Gradient {
      0% {
        background-position: 0% 50%
      }
      50% {
        background-position: 100% 50%
      }
      100% {
        background-position: 0% 50%
      }
    }

    @-moz-keyframes Gradient {
      0% {
        background-position: 0% 50%
      }
      50% {
        background-position: 100% 50%
      }
      100% {
        background-position: 0% 50%
      }
    }

    @keyframes Gradient {
      0% {
        background-position: 0% 50%
      }
      50% {
        background-position: 100% 50%
      }
      100% {
        background-position: 0% 50%
      }
    }

    .portfolio-grid figure{
      background: rgba(252, 242, 148, 1);
    }

    .footer-serviço{
      position: absolute;
      bottom:0px;
    }

    .hover-open{
      height: 1040px;
    }
    .rating-stars-container {
      text-align: center;
    }
    
  .rating-stars {
      display: inline-block;
    margin: 20px;
  }
  .rating-star {
    font-size: 44px;
    cursor: pointer
  }

  .fa-star {
    color: #00A8CC;
  }


  .bottom-message {
    font-size: 0.85em;
  }

  .sr-navigator-container.visible-sm-block {
    margin-top: 30px;
  }

  .notes-container {
    margin: auto;
    margin-top: 20px;
    width: 50%;
  }
  #myNotesView {
    display: block;
  }

  .notes-buttons {
    margin-top: 10px;
  }

  @media (max-width: 767px) { 
    .notes-container {
      width: 100%;
    }
  }

  .btn-ls-blue {
    background-color: #4984a3;
    border: none;
      -o-transition: background-color 0.215s;
      -moz-transition: background-color 0.215s;
      -webkit-transition: background-color 0.215s;
      transition: background-color 0.215s;
  }

  .btn-ls-blue:hover,
  .btn-ls-blue:active,
  .btn-ls-blue:focus,
  .btn-ls-blue.active {
      background-color: #00A8CC;
  }

  .hide { 
    display: none;
  }
  .checked {
      color: yellow;
      
  }
  .fa-star {
    font-size: 40px;
    margin-left: 20px;
    position: relative;
    text-align: center;
    left: 37%;
    float: center;
      
  }
  h2 {
    font-family: Arial;
    text-align: center;
  }
	</style>
    <!-- Horizontal Menu Ends -->
      <div class="main-panel" id="main-panel">
        <div class="content-wrapper mt-0 p-0" >
          <div class="container mx-0 p-0 wid">
            <div id="map"></div>
    			<!-- Trigger/Open The Modal -->
  			<!-- The Modal -->
    			  <h4 id="local_a" class="info" >Local A: </h4>
    			  <h4 id="local_b" class="info" >Local B: </h4>
    			  <h4 id="t" class="info" >Tempo de chegada: </h4>
    			  <h4 id="d" class="info" >Distancia total: </h4>
    			  <div class="fundo-botao">

    			    <!--<button id="solicitar" class="btn btn-warning botao2">
                <div class="solicitar">Solicitar Serviço</div>
              </button>-->
              <button type="button" id="solicitar" class="btn btn-warning botao2" data-toggle="modal" data-target="#myModal">
                <div class="solicitar">Solicitar Serviço</div>
              </button>

              <button id="iniciar_servico" class="btn btn-success" style="float: left; display: none; padding-right: 30px; padding-left: 30px">
                <div class="iniciar">Iniciar</div>
              </button>
              <!-- mudando nome dos ids pegar os outros buttons -->
              <button id="cancelar_servico" class="btn btn-danger" style="float: right; display: none">
                <div class="cancelar">Cancelar</div>
                <!-- mudando nome dos ids pegar os outros buttons -->
                <button id="pausar_servico1" class="btn btn-danger" style="float: left; display: none; padding-right: 30px; padding-left: 30px">
                <div class="pausar">Pausar</div>
                <!-- mudando nome dos ids pegar os outros buttons -->
                <button id="continuar_servico1" class="btn btn-danger" style="float: left; display: none; padding-right: 30px; padding-left: 30px">
                <div class="continuar">Continuar</div>

              </button>
              <!-- mudando nome dos ids pegar os outros buttons -->
              <button id="finalizar_servico1" class="btn btn-warning" style="float: right; display: none">
                <div class="finalizar">Finalizar</div>
              </button>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <!-- partial -->
      </div>
      <div id="myModal" class="modal" tabindex= "-1" role="dialog" aria-labelledby="myModal" aria-hidden="true">
            <div class="modal-dialog" role="document" style="position: center; top: 20%">
              <div class="modal-content mx-0" style="width:100%">
                <div class="modal-body mb-0 pb-0" style="position: relative">
                  <form>
                    <div>
                      <label for="problema" class="row-form-label"><h2>O que houve de errado?
                        <h2></label>
                      <textarea rows="4" required id="id_necessidade" name="necessidade" style="width: 110%"> </textarea>
                    </div>
                    <div>
                      <label for="message-text" class="row-form-label"><h3>Qual o endereço?<h3></label>
                      <input type="text" required id="id_endereco" name="endereco" style="width: 130%">
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" id="enviardevez" class="btn btn-success" data-toggle="modal" data-target="#carregando" style="width: 50%; margin-top: 10px" data-dismiss="modal">Enviar</button>
                  <button type="button" class="btn btn-danger" id="cancelar" data-dismiss="modal" style="width: 50%; margin-top: 10px">Cancelar</button>
                </div>
              </div>
            </div>
          </div>
          <div class="modal fade p-0 " id="carregando" tabindex="-1" role="dialog" aria-labelledby="carregando" aria-hidden="true">
          <div class="modal-dialog " role="document" style="position: center; top: 20%;">
            <div class="modal-content" style="position: center; top: 20%; width: 60%">
              <div class="modal-header pt-0" style="text-align:center">
                <h2 class="modal-title" id="exampleModalLabel-2">Procurando Eletricista</h2>
              </div>
              <div class="modal-body center-div p-0" style="text-align:center; margin-left: 25%">
                <div class="loader" style="display:inline-block;"></div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
  <div class="h" id="tela-relogio" style="background-color: #f3f3f3; display: none">
    <div class="card-body relogio m-4">
      <div class="header_relogio">
      <p class="card-title mb-4 ml-3 serviço-em-exec">Serviço em Execução</p>
     <div class="info_eletricista"> 
      <div class="foto_eletricista">  
        {% if eletricista.foto %}
          <img src="{{eletricista.foto.url}}"  alt="profile image" style="border-radius: 100%; width: 100px; height: 100px; display: inline">
        {% else %}
          <img src="https://placehold.it/100x100" style="border-radius: 100%; width: 100px; height: 100px; display:inline">
        {% endif %}
      </div>
      <div class="nome_eletricista">  
        <strong>Nome :</strong> {{eletricista.usuario.first_name}}
      </div>
    </div>
  </div>
      <div style=" height: calc(100vh - 338px)">
        <div class="card-body">
          <h4 class="tempo" id="tempo_relogio">0</h4>
          <form id="myForm" action="{% url 'servico_avaliar' %}" method="post">
            {% csrf_token %}
            <div id="avaliar" style="display: none">
              <h2>Avalie o serviço do eletricista</h2>
              <span class="fa fa-star" id="s1" name="1" value="1"></span>
              <span class="fa fa-star" id="s2" name="2" value="2"></span>
              <span class="fa fa-star" id="s3" name="3" value="3"></span>
              <span class="fa fa-star" id="s4" name="4" value="4"></span>
              <span class="fa fa-star" id="s5" name="5" value="5"></span>
              <input type="text" name="nota" id="id_nota" style="display: none">
              <input type="text" name="servico" id="id_servico" style="display: none">
            </div>
          </form>
        </div>
        <div class="botoes-serviço">
          <button class="btn btn-secondary botao3 pausar" id="pausar_servico">Pausar</button>
          <button class="btn btn-primary botao3 continuar" id="continuar_servico">Continuar</button>
          <button class="btn btn-info botao3 finalizar" id="finalizar_servico">Finalizar</button>
        </div>
      </div> 
    </div>
  </div>
  </div>
      
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript">
    var stars = document.getElementsByClassName("fa")
    var s0 = document.getElementById('s1')
    var s1 = document.getElementById('s2')
    var s2 = document.getElementById('s3')
    var s3 = document.getElementById('s4')
    var s4 = document.getElementById('s5')
    for(var i = 0; i < stars.length; i++) {
      stars[i].addEventListener('click', function(e){
        for(var j = 0; j < stars.length; j++) {
          if(e.target == stars[j]) {
            console.log('voce avaliou como: ', e.target.id[1])
            console.log(j+1)
            let input = document.getElementById('id_nota')
            input.value = j+1; 
            let servico = document.getElementById('id_servico')
            let endereco = window.location.pathname
            let id_servico = endereco.split('/')[3]
            servico.value = id_servico
            let form = document.getElementById('myForm');
            form.submit();
          }
        }
      })
    }


    s0.addEventListener('mouseover', function(event) {
      colorir(event.target)
      for(var i = 1; i < stars.length; i++) {
        descolorir(stars[i])
      }
    })
    s1.addEventListener('mouseover', function(event) {
      colorir(s0)
      colorir(event.target)
      for(var i = 2; i < stars.length; i++) {
        descolorir(stars[i])
      }
    })
    s2.addEventListener('mouseover', function(event) {
      colorir(s0)
      colorir(s1)
      colorir(event.target)
      for(var i = 3; i < stars.length; i++) {
        descolorir(stars[i])
      }
    })
    s3.addEventListener('mouseover', function(event) {
      colorir(s0)
      colorir(s1)
      colorir(s2)
      colorir(event.target)
      for(var i = 4; i < stars.length; i++) {
        descolorir(stars[i])
      }
    })
    s4.addEventListener('mouseover', function(event) {
      colorir(s0)
      colorir(s1)
      colorir(s2)
      colorir(s3)
      colorir(event.target)
      for(var i = 5; i < stars.length; i++) {
        descolorir(stars[i])
      }
    })

    function colorir(star) {
      if(!star.className.indexOf('checked') > -1) {
        star.className = 'fa fa-star checked'
      }
    }
    function descolorir(star) {
      if(star.className.indexOf('checked') > -1) {
        star.className = 'fa fa-star'
      }
    }
    var cronometro = document.getElementById('tempo_relogio')
    function reloginho(time) {
      let segundos = parseInt(time);
      let minutos = parseInt(segundos/60);
      let horas = parseInt(minutos/60);
      let horario = horas + 'h' + minutos + 'min' + segundos + 's';
      return horario;
    }
    var enviado_app;
    var ip = '{{ip}}'
    console.log(ip)
    var enviado_si;
    var testecliente;
    var testeeletricista;
    var clickado
    var lat_real
    var lng_real
    jsonRequest(lat_real, lng_real)
    var usuario_em_questao = '{{user}}'
    var user_cliente;
    var ELETRICISTA;
    var resposta_cliente;
    var resposta_eletricista;
    var pausar_cliente;
    var pausar_eletricista;
    var continuar_cliente;
    var continuar_eletricista;
    var finalizar_cliente;
    var finalizar_eletricista;
    var RELOGIO;
    var RELOGIO2;
    var tictac;
    var sessionid = '{{sessionid}}'
    var cookie = document.cookie
    // resetar cookies
    function resetarCookies() {
      setCookie("pedido_aceito", false);
      setCookie("resposta_cliente", false);
      setCookie("resposta_eletricista", false);
      setCookie("pausar_cliente", false);
      setCookie("pausar_eletricista", false);
      setCookie("continuar_cliente", false);
      setCookie("continuar_eletricista", false);
      setCookie("finalizar_cliente", false);
      setCookie("finalizar_eletricista", false);
      setCookie("coords_cliente_lat", null)
      setCookie("coords_cliente_lng", null)
      setCookie("coords_elec_lat", null)
      setCookie("coords_elec_lng", null)
    }
    // resetarCookies();

    if(getCookie("pedido_aceito")) {
      mostrarIniciarCancelar()
      setTimeout(() => {
        mostrarMapaCompletoComMenorDistanciaEntreClienteEEletricista()
      }, 1000)
      let modal = document.getElementById('carregando')
      modal.style.display = 'none'
      
    }
    if(getCookie("resposta_cliente") && getCookie("resposta_eletricista")) {
      
      // mostrarMapaCompletoComMenorDistanciaEntreClienteEEletricista()
      let iniciar = document.getElementById('iniciar_servico')
      let cancelar = document.getElementById('cancelar_servico')
      iniciar.style.display = 'none'
      cancelar.style.display = 'none'
      mostrarFinalizarPausar();
      tictac = 1;
      RELOGIO = setInterval(function(){
        console.log(tictac++)
      }, 2000)
    }

    if(getCookie("pausar_cliente") && getCookie("pausar_eletricista")) {
      
      // mostrarMapaCompletoComMenorDistanciaEntreClienteEEletricista()
      let pausar = document.getElementById('pausar_servico')
      pausar.textContent = 'Pausar'
      pausar.style.display = 'none'
      let continuar_servico = document.getElementById('continuar_servico')
      continuar_servico.style.display = 'block'
      clearInterval(RELOGIO)
      console.log('relogio si pausado')
    }

    if(getCookie("continuar_cliente") && getCookie("continuar_eletricista")) {
      
      // mostrarMapaCompletoComMenorDistanciaEntreClienteEEletricista()
      let continuar = document.getElementById('continuar_servico')
      continuar.textContent = 'Continuar'
      continuar.style.display = 'none'
      let pausar = document.getElementById('pausar_servico')
      pausar.style.display = 'block'
      console.log(pausar)
      console.log('relogio si continuado')
      console.log('eu sou o tictac', tictac)
      RELOGIO = setInterval(function(){
        console.log('entrei no relogio')
        console.log(tictac++)
      }, 2000)
    }

    if(getCookie("finalizar_cliente") && getCookie("finalizar_eletricista")) {
      
      // mostrarMapaCompletoComMenorDistanciaEntreClienteEEletricista()
      console.log('FINALIZEI SI')
      let finalizar = document.getElementById('finalizar_servico')
      finalizar.textContent = 'FINALIZADO'
      finalizar.disabled = true
      clearInterval(RELOGIO)
    }
    console.log(cookie)
    console.log(sessionid);
    
    function contartictac() {
      console.log('eu sou o tictac', tictac++)
    }

    function mostrarIniciarCancelar(resp) {
      let botaosolicitar = document.getElementById('solicitar')
      botaosolicitar.style.display = 'none'
      let iniciar = document.getElementById('iniciar_servico')
      let cancelar = document.getElementById('cancelar_servico')
      iniciar.style.display = 'block'
      cancelar.style.display = 'block'
      let fundoBotao = document.getElementsByClassName('fundo-botao')[0]
      fundoBotao.style = 'height: 5%'
    }
    function mostrarFinalizarPausar(resp) {
      let botaosolicitar = document.getElementById('solicitar')
      botaosolicitar.style.display = 'none'
      let pausar = document.getElementById('pausar_servico')
      let finalizar = document.getElementById('finalizar_servico')
      pausar.style.display = 'block'
      finalizar.style.display = 'block'
      let fundoBotao = document.getElementsByClassName('fundo-botao')[0]
      fundoBotao.style = 'height: 5%' 
    }

    var pedido_aceito;
    var pedido_enviado;
    var pedido_status;
    var eletricista_em_questao = undefined;
    var user_eletricista;
    var OLA = 0;
    var verifica_entrada1 = false;
    var verifica_entrada2 = false;
    var host = window.location.host
    var pathname = window.location.pathname
    var url2 = 'ws://' + host + '/ws' + pathname;
    console.warn(url2)
    var ws = new WebSocket(url2);
    var kkk = 0;
    var jjj = 0;
    ws.onopen = function(e) {
      console.log('WebSocket conectado!')
      console.log('enviei o user')
    }
    ws.onclose = function(e) {
      console.error('WebSocket disconectado')
    }
    ws.onmessage = function(e) {
      let data = JSON.parse(e.data)
      console.log(data)
      var pedido_aceito = data['pedido_status']
      
      // if(eletricista_em_questao == undefined && data['user'] == usuario_em_questao) {
      //   eletricista_em_questao = data['user_eletricista']
      //   console.log('ELETRICISTA_EM_QUESTAO', eletricista_em_questao)
      // }
      // var casal = {
      //     eletricista : eletricista_em_questao,
      //     cliente : usuario_em_questao
      //   }
      // console.warn("CASAL", casal)
      //if(data['user_eletricista'] == eletricista_em_questao && data['user'] == usuario_em_questao) {  
      resposta_eletricista = data['pedido_resposta_eletricista']
      resposta_cliente = data['pedido_resposta_cliente']
      pausar_cliente = data['pausar_resposta_cliente']
      pausar_eletricista = data['pausar_resposta_eletricista']
      continuar_cliente = data['continuar_resposta_cliente']
      continuar_eletricista = data['continuar_resposta_eletricista']
      finalizar_cliente = data['finalizar_resposta_cliente']
      finalizar_eletricista = data['finalizar_resposta_eletricista']
      console.error(data)

      
      //console.log('ELETRICISTA NESSE BODEGO', ELETRICISTA)
      //console.log('USERCLIENTE NESSE BODEGO', user_cliente)
      console.error('COMPARANDO OS 2 cliente', user_cliente, usuario_em_questao)
      console.error('COMPARANDO OS 2 ELETRICISTA', user_eletricista, eletricista_em_questao)
      setCookie("pedido_aceito", true)
      let modal = document.getElementById('carregando')
      modal.style.display = 'none'
      if(resposta_eletricista && resposta_cliente){
        
          // document.getElementById('iniciar_servico').textContent = 'tictac: ' + i;
        setCookie("resposta_eletricista", true)
        let iniciar = document.getElementById('iniciar_servico')
        let cancelar = document.getElementById('cancelar_servico')
        let main_panel = document.getElementById('main-panel')
        main_panel.style.display = 'none';
        //main_panel.innerHTML = '';
        let tela_relogio = document.getElementById('tela-relogio')
        tela_relogio.style.display = 'block';
        iniciar.style.display = 'none'
        cancelar.style.display = 'none'
        mostrarFinalizarPausar();
        tictac = 1;
        RELOGIO = setInterval(function(){
          console.log(tictac++)
          if(tictac == 60) {
            tictac = 0;
          }
          cronometro.textContent = reloginho(tictac);
        }, 2000)
      }
      if(pausar_cliente && pausar_eletricista) {
        setCookie("pausar_eletricista", true)
        let pausar = document.getElementById('pausar_servico')
        pausar.textContent = 'Pausar'
        pausar.style.display = 'none'
        let continuar_servico = document.getElementById('continuar_servico')
        continuar_servico.style.display = 'block'
        clearInterval(RELOGIO)
        console.log('relogio si pausado')
      }
      if(continuar_cliente && continuar_eletricista) {
        setCookie("continuar_eletricista", true)
        let continuar = document.getElementById('continuar_servico')
        continuar.textContent = 'Continuar'
        continuar.style.display = 'none'
        let pausar = document.getElementById('pausar_servico')
        pausar.style.display = 'block'
        console.log(pausar)
        console.log('relogio si continuado')
        console.log('eu sou o tictac', tictac)
        RELOGIO = setInterval(function(){
          console.log('entrei no relogio')
          console.log(tictac++)
          if(tictac == 60) {
            tictac = 0;
          }
          cronometro.textContent = reloginho(tictac);
        }, 2000)
      }
      if(finalizar_cliente && finalizar_eletricista) {
        setCookie("finalizar_eletricista", true)
        console.log('FINALIZEI SI')
        let finalizar = document.getElementById('finalizar_servico')
        finalizar.textContent = 'FINALIZADO'
        let h4 = document.getElementById('tempo_relogio')
        h4.style.display = 'none';
        let avaliar = document.getElementById('avaliar')
        avaliar.style.display = 'block'
        finalizar.disabled = true
        clearInterval(RELOGIO)
        resetarCookies()
      }
    }
    var iniciar = document.getElementById('iniciar_servico')
    iniciar.addEventListener('click', () => {
      clickado = true;
      iniciar.textContent = 'Aguardando Eletricista'
      document.getElementById('cancelar_servico').style.display = 'none'
      if(resposta_eletricista == undefined) {
        resposta_eletricista = false;
      }
      console.log("antes de enviar", enviado_app)
     
      setCookie("resposta_cliente", true);
      ws.send(JSON.stringify({
        //user_eletricista : eletricista_em_questao,
        user : '{{user}}',
        pedido_resposta_eletricista : resposta_eletricista,
        pedido_resposta_cliente : true,
        
      }))
    })
    var pausar = document.getElementById('pausar_servico')
    pausar.addEventListener('click', () => {
      clickado = true;
      pausar.textContent = 'Aguardando Eletricista'
      
      if(pausar_eletricista ==  undefined) {
        pausar_eletricista = false;
      }
      setCookie("pausar_cliente", true)
      ws.send(JSON.stringify({
        //user_eletricista : eletricista_em_questao,
        user : '{{user}}',
        pausar_resposta_eletricista : pausar_eletricista,
        pausar_resposta_cliente : true,
        
      }))
    })
    var continuar = document.getElementById('continuar_servico')
    continuar.addEventListener('click', () => {
      clickado = true;
      continuar.textContent = 'Aguardando Eletricista'
      if(continuar_eletricista ==  undefined) {
        continuar_eletricista = false;
      }
      setCookie("continuar_cliente", true)
      console.log('continei si')
      ws.send(JSON.stringify({
        //user_eletricista : eletricista_em_questao,
        user : '{{user}}',
        continuar_resposta_eletricista : continuar_eletricista,
        continuar_resposta_cliente : true,
       
      }))
    })
    var finalizar = document.getElementById('finalizar_servico')
    finalizar.addEventListener('click', () => {
      clickado = true;
      finalizar.textContent = 'Aguardando Eletricista'
      if(finalizar_eletricista == undefined) {
        finalizar_eletricista = false
      }
      setCookie("finalizar_cliente", true)
      ws.send(JSON.stringify({
        //user_eletricista : eletricista_em_questao,
        user : '{{user}}',
        finalizar_resposta_eletricista : finalizar_eletricista,
        finalizar_resposta_cliente : true,
      }))
    })
  
    console.log(ws)
    var necessidade = document.getElementById('id_necessidade')
    var endereco = document.getElementById('id_endereco')
    //geocoding transforma adress em latlng
    var modal = document.getElementById('myModal')
    //var modal_teste = document.getElementById('exampleModal-4')
    var modalbtn = document.getElementById('myBtn')
    var enviardevez = document.getElementById('enviardevez')
    enviardevez.addEventListener('click', function(){
      //modal.style.display = 'none'
      ws.send(JSON.stringify({
        necessidade : necessidade.value,
        pedido_enviado : true,
        pedido_status : false,
        nome : '{{nome}}',
        endereco : endereco.value,
        user : '{{user}}'
      }))
    })

    var cancelar = document.getElementById('cancelar')
    cancelar.addEventListener('click', function() {
      modal.style.display = 'none'
      console.log('clicked')
    })


    window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
    }

    var distancia = []
    var tempo = []
    var eletricistas = []
    var end_cliente
    var end_elec
    var map
    var dirdisplay
    var dirservice
    var eu
    var botao = document.getElementById('botao')
    // var lat_real
    // var lng_real
    var markers = []
    var end_cliente = []
    var end_elec = []
    // jsonRequest(lat_real, lng_real)
    //botao.addEventListener('click', () => {
      //var partida = document.getElementById('A').value
      //ar destino = document.getElementById('B').value
      //jsonRequest(partida, destino, map)
      //distanciaETempoDaRota(partida, destino)
      //setaRotaDoFormulario(partida, destino)
    //})
    var solicitar_servico = document.getElementById('solicitar')
    solicitar_servico.addEventListener('click', () => {
    	//modal.style.display = 'block',
      console.log("solicitei servico")
    	//modal.style.display = 'block'
      //mostrarMapaCompletoComMenorDistanciaEntreClienteEEletricista()
    })
    //setInterval(function(){console.log('set1')}, 2000)
    //setInterval(function(){console.log('set2')}, 1000)
    //setInterval(function(){console.log('set3')}, 5000)
    function initMap() {
      setTimeout(function(){
        var options = {
          zoom: 15,
          center: {lat:lat_real, lng:lng_real}
        }
        console.log(options.center)

        map = new google.maps.Map(document.getElementById('map'), options);
        console.log(map)
        console.log(lat_real, lng_real)
        eu = new google.maps.LatLng(lat_real, lng_real) // coords imprecisas do gps do laptop
        var infowindow = new google.maps.InfoWindow({
              content: '{{user}}'
          });
        addMarker(eu, map, "{% static 'radiant/jquery/images/red_MarkerC.png' %}", infowindow)
        eletricistas[0] = new google.maps.LatLng(-23.5773671, -46.6868916) //faria lima
        eletricistas[1] = new google.maps.LatLng(-23.5631043, -46.6543825) //av paulista
        eletricistas[2] = new google.maps.LatLng(-23.5571644, -46.730234) //poli
        eletricistas[3] = new google.maps.LatLng(-23.5822135, -46.6441941) //sesc vila mariana
        eletricistas[4] = new google.maps.LatLng(-23.5799952, -46.6403997) //extra vila mariana
        eletricistas[5] = new google.maps.LatLng(-23.5793521, -46.641414) //local mais próximo de todos do cliente
        console.log(eletricistas)
        for (var x = 0; x < eletricistas.length; x++){
          addMarker(eletricistas[x], map, "{% static 'radiant/jquery/images/logo-personagem-teste (2).png' %}")
          console.log(eletricistas[x].lat())
        }

        dirdisplay = new google.maps.DirectionsRenderer();
        dirservice = new google.maps.DirectionsService();
    
      }, 10)
    }

    function addMarker(position, map, icon, window_) {
      var marker = new google.maps.Marker({position : position, map : map, icon : icon});
      markers.push(marker)
      marker.addListener('click', function() {
            window_.open(map, markers[0]);
        });
    }
    
    function calculateRoute(dir, dis, ori, dest) {
      //origins=-23.5782479,-46.6425898&destinations=-23.6229423,-46.6360948
      apagaMapa(dis)

      var request = {
        //origin: new google.maps.LatLng(-23.5782479, -46.6425898),
        origin: ori,
        //destination: new google.maps.LatLng(-23.6229423, -46.630948),
        destination: dest,
        travelMode:'WALKING',
      };
      //var dir = new google.maps.DirectionsService();
      dir.route(request, function(response, status) {
        console.log(status);
        if(status == 'OK'){
          //var dis = new google.maps.DirectionsRenderer();
          console.log(response);
          dis.setDirections(response);
        }
      });
    }


    
    function jsonRequest() {
      var xhr = new XMLHttpRequest();
      xhr.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {

          var data = JSON.parse(this.responseText);
          console.log(data.lat, data.lng)
          lat_real = data.lat
          lng_real = data.lng

        }
      };
      xhr.open("GET" , "http://localhost:8000/api/coords/{{user}}/");
      xhr.send()
      return;
    }
    
    function apagaMapa (d) {
        d.set('directions', null)
      }
    function distanciaETempoDaRota(ori, dest) {
      var service = new google.maps.DistanceMatrixService();
      service.getDistanceMatrix(
        {
          origins: [ori],
          destinations: [dest],
          travelMode: 'DRIVING',
        }, function(response, status) {
          console.log(response)
          let di = response.rows[0].elements[0].distance.text
          let di_replace = di.replace(',', '.')
          console.log(di_replace)
          let te = response.rows[0].elements[0].duration.text
          distancia.push(parseFloat(di_replace))
          tempo.push(te)
          end_cliente.push(response.originAddresses[0])
          end_elec.push(response.destinationAddresses[0])
        });
    }
    function distanciaETempoDaRotaFormulario(parti, desti) {
      var service = new google.maps.DistanceMatrixService();
      service.getDistanceMatrix(
        {
          origins: [parti],
          destinations: [desti],
          travelMode: 'DRIVING',
        }, function(response, status) {
          console.log('RESPOSTA', response)
          let di = response.rows[0].elements[0].distance.text
          let di_replace = di.replace(',', '.')
          let te = response.rows[0].elements[0].duration.text
          var local_a = document.getElementById('local_a')
          local_a.textContent = 'Local de partida: ' + response.originAddresses[0]
          local_a.style = 'color: black'
          var local_b = document.getElementById('local_b')
          local_b.textContent = 'Local de destino: ' + response.destinationAddresses[0]
          local_b.style = 'color: black'
          var km = document.getElementById('d')
          km.textContent = 'Distancia: ' + di_replace
          var hrs = document.getElementById('t')
          hrs.textContent = 'Tempo: ' + te
          var info = document.getElementsByClassName('info')
          for (var p = 0; p < info.length; p++) {
            info[p].style = 'display : block'
          }
          
        });
    }
    function mostrarMapaCompletoComMenorDistanciaEntreClienteEEletricista () {
      console.log(eletricistas.length, 'LENGTH')
      setTimeout(function() {
        for (var m = 0; m < eletricistas.length; m++) {
          distanciaETempoDaRota(eu, eletricistas[m])
        }
        setTimeout(calculaMenorESetaRota, 1000)
        //jsonRequest({lat:eu.lat(), lng:eu.lng()}, {lat:elec1.lat(), lng:elec1.lng()}, map)
      }, 1000)
    }
    function calculaMenorESetaRota() {
      var menor = distancia[0]
      var k;
      var indice
      for (k = 1; k < distancia.length; k++) {
        if(distancia[k] < menor) {
          menor = distancia[k];
          indice = k
        }
      }
      console.log("o menor é: ", menor)
      console.log("com indice: ", indice)
      console.log("tamanho: ", distancia.length)
      dirdisplay.setMap(map)
      console.log("passei o setMap")
      console.log(eletricistas[indice])
      let euzinho = new google.maps.LatLng(
          getCookie("coords_cliente_lat"),
          getCookie("coords_cliente_lng")
        )
      let eletricistazinho = new google.maps.LatLng(
          getCookie("coords_elec_lat"),
          getCookie("coords_elec_lng")
        )
      //calculateRoute(dirservice, dirdisplay, eu, eletricistas[indice])
      calculateRoute(dirservice, dirdisplay, euzinho, eletricistazinho)
      console.log("passei o calculateRoute")
      // escreverDeltaTeDeltaD(menor, indice, end_cliente[indice], end_elec[indice])
      //keepTracking(indice)
      indice = 0;
    }
    function keepTracking(index) {
      setInterval(function() {
        //user jsonRequest para ficar constantemente pegando coords da api
        console.log(eletricistas[index].lat(), eletricistas[index].lng())
        markers[index+1].setMap(null)
        eletricistas[index] = new google.maps.LatLng(-23.5565433, -46.7334037)
        addMarker(eletricistas[index], map, "{% static 'radiant/jquery/images/logo-personagem-teste (2).png' %}")
        calculateRoute(dirservice, dirdisplay, eu, eletricistas[index])
      }, 1000*30*30*10000)
    }
    function escreverDeltaTeDeltaD(menordistancia, index, endereco_cliente, endereco_eletricista){
      var t = document.getElementById('t')
      var strong_t = document.createElement('strong')
      t.textContent = 'Tempo: ' + tempo[index]
      var d = document.getElementById('d')
      var strong_d = document.createElement('strong')
      d.textContent = 'Distancia: ' + menordistancia + ' km'
      var local_a = document.getElementById('local_a')
      local_a.textContent = 'Você está em: ' + endereco_cliente
      var local_b = document.getElementById('local_b')
      local_b.textContent = 'O Eletricista está em: ' + endereco_eletricista
      var info = document.getElementsByClassName('info')
      for (var l = 0; l < info.length; l++) {
        info[l].style = 'display : block'
      }
      
    }
    function setaRotaDoFormulario(partida, destino) {
      dirdisplay.setMap(map)
      calculateRoute(dirservice, dirdisplay, partida, destino)
      distanciaETempoDaRotaFormulario(partida, destino)
    }
    function patchLatLng() { // para caso precise atualizar coords do cliente, mas acho desne
      function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie !== '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                  var cookie = jQuery.trim(cookies[i]);
                  // Does this cookie string begin with the name we want?
                  if (cookie.substring(0, name.length + 1) === (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
      }
      var csrftoken = getCookie('csrftoken');
      fetch('http://localhost:8000/api/eletricistas/', {
          method: 'post',
          headers: {
            'Accept': 'application/json, text/plain, */*',
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken
          },
          body: JSON.stringify({
                telefone: "0192",
                CEP: "000",
                CPF: "00101",
                endereco: "123",
                genero: "Feminino",
                tipo: "Eletricista",
                status: "Ativo",
                bloqueado: "False",
                usuario: {
                    first_name: "doria",
                    email: "joaodoria@hotmail.com",
                    password: "1234567",
                    username: "doriaeoq",
                    is_active: true
                }
            })
        }).then((res) => console.log(res))
    }
    //patchLatLng()
    function setCookie(nome, valor) {
      document.cookie = nome + "=" + valor;
      console.log(cookie)
    }
    function getCookie(cname) {
      var name = cname + "=";
      var decodedCookie = decodeURIComponent(document.cookie);
      var ca = decodedCookie.split(';');
      for(var i = 0; i <ca.length; i++) {
          var c = ca[i];
          while (c.charAt(0) == ' ') {
              c = c.substring(1);
          }
          if (c.indexOf(name) == 0) {
              return JSON.parse(c.substring(name.length, c.length));
          }
      }
      return "";
    }
    mostrarIniciarCancelar()
    mostrarMapaCompletoComMenorDistanciaEntreClienteEEletricista()
    
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdJ_Kts10iRTTj6tZh8pv0mjB2vp6Mcm4&callback=initMap"
async defer></script>

      <!-- main-panel ends -->
{% endblock %}
  
