<html>
<meta name="name" content="content" charset="utf-8">
<body>
	<p id="myId">teste patch api eletricista</p>
</body>
<script type="text/javascript" charset="utf-8">
	fetch('http://localhost:8000/api/enviar_nota_cliente/cliente/', {
          method: 'patch',
          headers: {
            'Accept': 'application/json, text/plain, */*',
            'Content-Type': 'application/json',
            //'X-CSRFToken': csrftoken
          },
          body: JSON.stringify({
								nota : "0.1",
            })
        }).then((res) => console.log(res))

</script>
</html>
