<div class="row">
  <div class="col-md-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <h4 class="card-title">Basic Date Picker</h4>
            <app-basic></app-basic>
          </div>
          <div class="col-md-6 d-flex align-items-center flex-column justify-content-center">
            <h4 class="card-title">Datepicker in a popup</h4>
            <app-popup-picker></app-popup-picker>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Multiple months</h4>
        <div class="d-flex justify-content-center">
          <app-multiple-dates></app-multiple-dates>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Range selection</h4>
        <div class="d-flex justify-content-center">
          <app-range-selection></app-range-selection>
        </div>
      </div>
    </div>
  </div>
</div>